<main>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-spring-boot icon' style="visibility: visible;opacity: 1 !important;"></i>
            <div class="logo_name">Events369</div>
            <i class='bx bx-menu' id="btn" style="visibility: hidden;"></i>
        </div>
        <ul class="nav-list">
          <li class="active-menu">
            <a href="#">
             <i class='bx bx-home'></i>
             <!-- <input type="text" placeholder="Search..."> -->
             <span class="links_name">Home</span>
             </a>
             <span class="tooltip">Home</span>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-video' ></i>
              <span class="links_name">Video Library</span>
            </a>
             <span class="tooltip">Video Library</span>
          </li>
          <li>
           <a href="#">
            <i class='bx bxs-group'></i>
             <span class="links_name">Team</span>
           </a>
           <span class="tooltip">Team</span>
         </li>
         <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
          </li>
         <li>
           <a href="#">
                <i class='bx bx-money'></i>
             <span class="links_name">Billing Plan</span>
           </a>
           <span class="tooltip">Billing Plan</span>
         </li>
         <!-- <li>
           <a href="#">
             <i class='bx bx-folder' ></i>
             <span class="links_name">File Manager</span>
           </a>
           <span class="tooltip">Files</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cart-alt' ></i>
             <span class="links_name">Order</span>
           </a>
           <span class="tooltip">Order</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-heart' ></i>
             <span class="links_name">Saved</span>
           </a>
           <span class="tooltip">Saved</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Setting</span>
           </a>
           <span class="tooltip">Setting</span>
         </li> -->
         <li class="profile">
             <div class="profile-details">
               <img src="../../../assets/images/avatar-placeholder.png" alt="profileImg">
               <div class="name_job">
                 <div class="name">Kofi Ahen's CommunityCommunity</div>
                 <div class="job">Event Host</div>
               </div>
             </div>
             <!-- <i class='bx bx-log-out' id="log_out" ></i> -->
         </li>
        </ul>
      </div>
      <section class="home-section">
        <nav class="navbar sticky-top navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Home</a>
            <form class="form-inline">
              <div class="form-group has-search">
                <span class="bi bi-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search by keywords">
              </div>
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                <div class="img square ml-3" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                  <a href="#">
                    <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg">
                  </a>
                </div>
            </form>
            </nav>
          <section class="workspace">
            <div class="workspace-nav">
                <div class="card-deck ml-4 mr-4 mt-4">
                    <div class="card m-2" style="background-color: rgba(255,255,255,.06);" (click)="openEventCreate()">
                      <!-- <img class="card-img-top" src="..." #f57736;alt="Card image cap"> -->
                      <div class="card-body">
                        <h3 class="card-title">
                          <div class="card-icon">
                            <i class="bi bi-camera-video-fill"></i>
                          </div>
                        </h3>
                        <p class="card-text font-weight-bold">Create Event</p>
                        <p class="card-text"><small class="text-muted">create new event</small></p>
                      </div>
                    </div>
                    <div class="card m-2 mr-2">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <div class="card-body">
                        <h3 class="card-title">
                          <div class="card-icon">
                            <i class="bi bi-plus-square-fill"></i>
                          </div>
                        </h3>
                        <p class="card-text font-weight-bold">Join Event</p>
                        <p class="card-text"><small class="text-muted">via event link</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-deck ml-4 mr-4 mb-4">
                    <div class="card m-2 ml-2">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <div class="card-body">
                        <h3 class="card-title">
                           <div class="card-icon">
                            <i class="bi bi-calendar-date"></i>
                           </div> 
                        </h3>
                        <p class="card-text font-weight-bold">Schedule</p>
                        <p class="card-text"><small class="text-muted">plan your event</small></p>
                      </div>
                    </div>
                    <div class="card m-2 mr-2">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <div class="card-body">
                        <h3 class="card-title">
                          <div class="card-icon">
                            <i class="bi bi-display"></i>
                          </div>
                        </h3>
                        <p class="card-text font-weight-bold">Share Screen.</p>
                        <p class="card-text"><small class="text-muted">share your work</small></p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="workspace-core">
              <div class="card ml-4 mt-4 mr-4 mb-2" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('../../../../assets/images/pexels-arun-kumar-1191318.webp') no-repeat center center fixed; background-size: cover;cursor: default;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body mt-5">
                  <!-- <h1 style="color: white;text-align: right;">Good evenning David</h1> -->
                  <h1 style="color: white;text-align: right;">{{ rxTime | date: 'hh:mm' }}</h1>
                  <p class="card-text" style="text-align: right;">
                    {{ rxTime | date: 'EEEE, dd MMMM YYYY' }}
                  </p>
                </div>
              </div>


            </div>
        </section>
        <section class="workspace">
          
          <div class="card ml-4 mt-4 mr-4 mb-2" style="background-color: rgba(255, 255, 255, 0.04); border: 1px solid #fbfbfb0d;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h4 style="color: white;font-size: 1.2rem;">Design Conference
                <div class="card-icon float-right" style="padding-top: 0 !important;padding-bottom: 0 !important;">
                  <i class="bi bi-three-dots"></i>
                </div>
              </h4>
              <p class="card-text">
                <small class="text-muted"> <i class="bi bi-clock"></i> 10:00 - 11:00 &#124; starts in 6 hours</small>
              </p>
              <div class="event-speakers-info pt-2">
                <div class="event-speakers-avatars float-left">
                  <div class="img square mt-3" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                    <a href="#">
                      <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg">
                    </a>
                  </div>
                  <div class="img square ml-2 mt-3" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                    <a href="#">
                      <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg">
                    </a>
                  </div>
                  <div class="img square ml-2 mt-3" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                    <a href="#">
                      <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg">
                    </a>
                  </div>
                  <div class="img square ml-2  mt-3 speakers-more">
                    +6
                  </div>
                </div>
                <div class="event-speakers-buttons">
                  <div class="img square ml-2 card-icon speakers-link mt-3">
                    <i class="bi bi-link"></i>
                  </div>
                  <button class="btn btn-primary login-button px-3 ml-2" style="margin-bottom: .3rem;"> Start</button>
  
                </div>

              </div>
            </div>
          </div>
        </section>
      </section>
    
  
</main>
  