main {
    display: flex;
    flex-direction: row;
}
.menu {
    flex: 1;
    // background-color: violet;
    max-width: 10vw;
    height: 100vh;
}
section.workspace {
    display: flex;
    flex-direction: row;
    background-color: #11101D;
}
div.workspace-nav {
    flex: 1;
    background-color: inherit;
    // border-right: 1px solid #2d2d2ded;
    // height: 90vh !important;
}

div.workspace-core {
    flex: 1;
    background-color: inherit;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-right: 1px solid #2d2d2ded;
  padding-right: 0px;
  padding-left: 0px;
}

.active-menu {
  border-right: 2px solid #7d2ae8;
  border-end-end-radius: 0px;
  border-start-end-radius: 0px;
  background-color: rgba(255,255,255,0.03);
}

.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 14px;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.logo_name:hover {
  cursor: pointer;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
  padding: 6px 14px;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
// .sidebar .bx-home{
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   font-size: 22px;
//   background: #1d1b31;
//   color: #FFF;
// }
// .sidebar.open .bx-home:hover{
//   background: #1d1b31;
//   color: #FFF;
// }
.sidebar .bx-home:hover{
  background-color: #1d1b31;
  color: #FFF;
}

.name_job {
  padding-right: 1rem;
  opacity: 0;
}

.job {
  opacity: .5;
}

.bx {
  opacity: .5 !important;
}
.bx-menu, .bx:hover {
  opacity: 1 !important;
}

.sidebar .bx-home {
	border: 1px solid #fbfbfb1c;
	background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  opacity: 1 !important;
}

.sidebar.open .bx-home {
	border: none;
	// background-color: #11101D;
  background-color: rgba(255, 255, 255, 0.0);
  color: #fff;
  opacity: 1 !important;
}

.sidebar.open .bx-home:hover {
  background-color: #1d1b31;
}

.sidebar.open .name_job,  .sidebar.open .bxl-spring-boot {
  opacity: 1 !important;
}

// not working
.sidebar.open li a .links_name:hover .sidebar.open .bx-home {
   background-color: #1d1b31;
}

.bx-home::before {
	border-bottom: 2px solid #fff;
	padding-bottom: .8rem;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  // background: #11101D;
}
.sidebar li a:hover{
  background: #1d1b31;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  // color: #11101D;
  color: #FFF;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .775rem;
    background-color: #fff;
    background-clip: border-box;
    cursor: pointer;
  }
  
  .card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
  }
  
  .card-title {
    margin-bottom: 1.25rem;
  }
  
  @keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  .bg-info {
    background-color: #11cdef !important;
  }
  
  a.bg-info:hover,
  a.bg-info:focus,
  button.bg-info:hover,
  button.bg-info:focus {
    background-color: #0da5c0 !important;
  }
  
  .bg-warning {
    background-color: #fb6340 !important;
  }
  
  a.bg-warning:hover,
  a.bg-warning:focus,
  button.bg-warning:hover,
  button.bg-warning:focus {
    background-color: #fa3a0e !important;
  }
  
  .bg-danger {
    background-color: #f5365c !important;
  }
  
  a.bg-danger:hover,
  a.bg-danger:focus,
  button.bg-danger:hover,
  button.bg-danger:focus {
    background-color: #ec0c38 !important;
  }
  
  .bg-default {
    background-color: #172b4d !important;
  }
  
  a.bg-default:hover,
  a.bg-default:focus,
  button.bg-default:hover,
  button.bg-default:focus {
    background-color: #0b1526 !important;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .align-items-center {
    align-items: center !important;
  }
  
  @media (min-width: 1200px) {
    .justify-content-xl-between {
      justify-content: space-between !important;
    }
  }
  
  .shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
  }
  
  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  .mr-2 {
    margin-right: .5rem !important;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .pt-5 {
    padding-top: 3rem !important;
  }
  
  .pb-8 {
    padding-bottom: 8rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  
  @media (min-width: 768px) {
    .pt-md-8 {
      padding-top: 8rem !important;
    }
  }
  
  @media (min-width: 1200px) {
    .mb-xl-0 {
      margin-bottom: 0 !important;
    }
  }
  
  .text-nowrap {
    white-space: nowrap !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .font-weight-bold {
    font-weight: 600 !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .text-success {
    color: #2dce89 !important;
  }
  
  a.text-success:hover,
  a.text-success:focus {
    color: #24a46d !important;
  }
  
  .text-warning {
    color: #fb6340 !important;
  }
  
  a.text-warning:hover,
  a.text-warning:focus {
    color: #fa3a0e !important;
  }
  
  .text-danger {
    color: #f5365c !important;
  }
  
  a.text-danger:hover,
  a.text-danger:focus {
    color: #ec0c38 !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  a.text-white:hover,
  a.text-white:focus {
    color: #e6e6e6 !important;
  }
  
  .text-muted {
    color: #8898aa !important;
  }
  
  @media print {
    *,
    *::before,
    *::after {
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a:not(.btn) {
      text-decoration: underline;
    }
    p,
    h2 {
      orphans: 3;
      widows: 3;
    }
    h2 {
      page-break-after: avoid;
    }
    @page {
      size: a3;
    }
    body {
      min-width: 992px !important;
    }
  }
  
  figcaption,
  main {
    display: block;
  }
  
  main {
    overflow: hidden;
  }
  
  .bg-yellow {
    background-color: #ffd600 !important;
  }
  
  a.bg-yellow:hover,
  a.bg-yellow:focus,
  button.bg-yellow:hover,
  button.bg-yellow:focus {
    background-color: #ccab00 !important;
  }
  
  .bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
  }
  
  .bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
  }
  
  @keyframes floating-lg {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes floating-sm {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  [class*='shadow'] {
    transition: all .15s ease;
  }
  
  .text-sm {
    font-size: .875rem !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  a.text-white:hover,
  a.text-white:focus {
    color: #e6e6e6 !important;
  }
  
  [class*='btn-outline-'] {
    border-width: 1px;
  }
  
  .card-stats .card-body {
    padding: 1rem 1.5rem;
  }
  
  .main-content {
    position: relative;
  }
  
  @media (min-width: 768px) {
    .main-content .container-fluid {
      padding-right: 39px !important;
      padding-left: 39px !important;
    }
  }
  
  .footer {
    padding: 2.5rem 0;
    background: #f7fafc;
  }
  
  .footer .copyright {
    font-size: .875rem;
  }
  
  .header {
    position: relative;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
  }
  
  .icon i {
    font-size: 2.25rem;
  }
  
  .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .icon-shape i {
    font-size: 1.25rem;
  }
  
  @media (min-width: 768px) {
    @keyframes show-navbar-dropdown {
      0% {
        transition: visibility .25s, opacity .25s, transform .25s;
        transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
        opacity: 0;
      }
      100% {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    @keyframes hide-navbar-dropdown {
      from {
        opacity: 1;
      }
      to {
        transform: translate(0, 10px);
        opacity: 0;
      }
    }
  }
  
  @keyframes show-navbar-collapse {
    0% {
      transform: scale(.95);
      transform-origin: 100% 0;
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes hide-navbar-collapse {
    from {
      transform: scale(1);
      transform-origin: 100% 0;
      opacity: 1;
    }
    to {
      transform: scale(.95);
      opacity: 0;
    }
  }
  
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7;
  }

  .card-icon {
    width: min-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .5rem;
    font-size: 1.5rem;
    padding: .8rem !important;
    border: 1px solid #fbfbfb1c;
  }

  .card-icon .bi {
    color: white;
  }

  .card {
    // background-color: #107bf7;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card-text {
    color: white;
  }

  .text-muted {
    color: white !important;
    opacity: .5 !important;
  }

  // nav styles

  .navbar {
    background-color: #11101D !important;
    border-bottom: 1px solid #2d2d2ded;
    padding: 1.1rem !important;

    .navbar-brand {
      color: white;

    }
  }


  // search styles
  .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaaaaa82;
}

input.form-control {
  background-color: #202533 !important;
}

.form-control {
  border: 1px solid #504f62a3 !important;
  border-radius: .55rem !important;
  font-weight: 397 !important;
  color: #4950576b !important;
}

.img.square {
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: inline-block;
	background-size: cover;
	background-position: center;
	border-radius: 10px; }	
	
.img.square img {
	visibility: hidden; }

.event-speakers-info {
  display: flex;
  flex-direction: row;
}

.event-speakers-avatars {
  flex: 1;
}

.event-speakers-buttons {
  flex: 1;
  text-align: right;
}

.speakers-more {
  background-color: #7d2ae8;
  text-align: center;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  padding: .7rem;
}

.bi-three-dots {
  font-size: 1rem;
  opacity: .6;
}


.card-button {
  font-family: 'Roboto', sans-serif;
  // font-size: 11px;
  text-transform: capitalize;
  // letter-spacing: 2.5px;
  // font-weight: 500;
  // color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 0rem;
  border-radius: 10px;
  font-size: .8rem;
  padding: .7rem 1.8rem !important;
}

.login-button {
  // width: 140px;
  // height: 45px;
  font-family: 'Roboto', sans-serif;
  // font-size: 11px;
  text-transform: capitalize;
  // letter-spacing: 2.5px;
  // font-weight: 500;
  // color: #000;
  background-color: #7d2ae8;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 0rem;
}

.login-button {
  border-radius: 10px;
  font-size: .8rem;
  padding: .7rem 1.8rem !important;
}

.speakers-link {
  text-align: center;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  padding: .7rem;
}

// manage events section styles
// @media (min-width: 967px) and (orientation: landscape) {
//   .event_social_share {
//     visibility: visible !important;
//   }
  
// }
// new styles
.nav-pills .nav-link {
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

ul.nav {
  border-bottom: 1px solid #fff;
  padding-bottom: 0px;
  width: max-content !important;
  overflow-x: hidden;
  margin-left: -4vh;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	border-radius: 0px !important;
	border: none !important;
	background-color: inherit !important;
	color: #fff !important;
	box-shadow: none;
	border-bottom: 1px solid #fff !important;
}

.nav-pills .nav-link {
	border-radius: 30px !important;
	margin-left: 1rem !important;
	background-color: inherit;
	color: grey !important;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 1rem;
  padding: 0 !important;
  padding-bottom: 1rem !important;
}

.swipeable-x {
  overflow-x: scroll !important;
}

.container-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  height: max-content;
  width: calc(100% - 3rem);
}

.horizontal-scroll {
  width: 100vw;
  height: max-content;
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.horizontal-scroll .btn-scroll {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: bolder;
  padding: 4px 8px;
  border: 0;
  border-radius: 50%;
  margin: 0 5px;
  z-index: 1;
  cursor: pointer;
  // box-shadow: 0 0 10px #9999;
  transition: 1s;
}

.storys-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  transition: .5s all ease-out;
}

.story-circle {
  width: 132px;
  height: max-content;
  margin: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotateZ(45deg);
}

.story-circle a {
  width: 102px;
  height: min-content;
  transform: rotateZ(-45deg);
}

.nav {
	display: inherit !important;
	flex-wrap: inherit !important; 
	padding-left: 0;
	margin-bottom: 0;
	/* list-style: none; */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link  {
  span {
   background-color: #7d2ae8 !important;
   color: #fff !important;
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}


.img-fit-img-fix-background-cover {
  border-radius: 0px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  
  @media (max-height: 500px) and (orientation : landscape) {
  .img-fit-img-fix-background-cover {
    height: 50vh !important;
  }
  }
  
  @media (max-width: 1400px) and (min-height: 900px) {
  .img-fit-img-fix-background-cover {
  height: 30vh !important;
  }
  }
  
  @media (max-width: 1400px) and (max-height: 900px) {
  .img-fit-img-fix-background-cover {
  height: 30vh !important;
  }
  }
  





  
