// @font-face {
//   font-family: Dura;
//   src: url(../../../../assets/fonts/Duru_Sans/DuruSans-Regular.ttf) format("opentype");
// }

// * {
//   font-family: 'Dura';
// }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.form-card {
  width: 500px;
}

.form-btn {
  width: 100%;
}

.form-element {
  // border-radius: 21px;
  border-radius: 8px;
  height: 42px;
}

.register-button, .login-button {
  // width: 140px;
  // height: 45px;
  font-family: 'Roboto', sans-serif;
  // font-size: 11px;
  // text-transform: uppercase;
  // letter-spacing: 2.5px;
  // font-weight: 500;
  // color: #000;
  // background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login-button {
  border-radius: 4px;
  font-size: .8rem;
  padding: .7rem 2.8rem !important;
}

.register-button:hover {
  // background-color: #2EE59D;
  background-color: #f05537 !important;
  border-color: #f05537 !important;
  box-shadow: 0px 15px 20px rgba(255, 101, 80, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.register-button:hover {
  // background-color: #2EE59D;
  background-color: #f05537 !important;
  border-color: #f05537 !important;
  box-shadow: 0px 15px 20px rgba(255, 101, 80, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.zoom {
  // padding: 50px;
  // background-color: green;
  transition: transform .2s; /* Animation */
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.zoom:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.socialite-buttons {
  margin-bottom: 2vh !important;
  // font-size: 1px !important;
}


.socialite-buttons:hover {
  // background-color: #2EE59D;
  // background-color: #f05537 !important;
  // border: 1px solid #0d6efd !important;
  // border-width: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 15px 20px rgba(255, 101, 80, 0.4);
  // color: #fff;
  // transform: translateY(-7px);
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: .8rem;
}

p {
  font-size: .8rem !important;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #f4f4f4;
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}

.socialite-icon-and-text {
  margin-top: -.7vh;
}

.form-label {
  margin-left: 24px !important;
}

.form-floating > label {
  padding: .7rem 1.50rem !important;
}

.form-floating > .form-control {
  padding: .7rem 1.50rem !important;
}

.form-control {
  padding: .9rem .9rem !important;
  font-size: .8rem;
  line-height: 1.6;
  padding-top: .5rem !important;
}

.form-floating > .form-select {
  padding-top: .5rem !important;
  padding: .3rem 1.2rem !important;
}

.mb-2 {
  margin-bottom: -1rem !important;
}

.card {
  border-radius: 1.25rem !important;
  box-shadow: none;
  border: none;
}

small {
  font-size: .8rem !important;
}

.custom-select {
  padding: .3rem 1.2rem !important;
}

.social-logo {
  height: 26px;
  width: 26px;
  // margin-top: -4vh;
}
.text-muted {
  font-size: .8rem;
}

.card-links:hover {
  font-weight: bolder;
  cursor: pointer;
}

.social-div {
  margin-top: -3vh;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  // font-family: sans-serif;
}

// section {
//   height: 100% !important;
// }

.contents {
  background: black;
  // height: inherit;
}

@media (min-width: 1500px) {
  .contents {
    height: inherit !important;
  }
}

@media (min-height: 768px) and (min-width: 1024px) {
  .contents {
    height: inherit !important;
  }
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.7;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
// section {
//   background: url(../../../../assets/images/samantha-gades-fIHozNWfcvs-unsplash.png) 0 0/100% 100% no-repeat;

// }
// section {
//   position: relative;
//   width: 100%;
//   height: 90vh;
//   // background: linear-gradient(45deg, #1379D2, #DC2424);
//   background: url(../../../../assets/images/samantha-gades-fIHozNWfcvs-unsplash.png) 0 0/100% 100% no-repeat;
//   // background: #f7fafc;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// section:before {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 200px;
//   background: #fff;
//   clip-path: polygon(100% 0, 0 100%, 100% 100%);
// }

// .contents {
//   position: relative;
//   max-width: 900px;
//   // text-align: center;
// }

.contents .container-fluid .h-100 {
  margin: 0;
  padding: 0;
}

small {
  margin-left: 0.3rem;
}


// @media (max-width: 1500px) {
//   .contents {
//     // padding-top: 50vh;
//   }
// }

.alert-danger {
  margin: .7rem !important;
}

.alert {
  padding: .5rem .5rem !important;
  border-radius: 8px !important;
}

@media (max-width: 567px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}

@media (min-width: 567px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none !important;
  }
}

// new styles
:root {
  --primary: var(--ev-brandname-darkblue);
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--ev-brandname-darkblue);
}
a:hover {
  text-decoration: underline;
}
small {
  font-size: 80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}
.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  background-size: cover;
}
.left .copy {
  color: #fff;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.left p {
  font-weight: 400;
}
.right .copy {
  color: #000;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center
}

.bg-light {
  width: 100%;
  padding: 1rem;
}

.right .copy p {
  margin: 1.5rem;
  font-size: .875rem;
}

.right form {
  // width: 328px;
  width: auto;
}


@media screen and (max-width: 900px) {
  // .p-5 {
  //   padding: .3rem !important;
  // }
  // .card .p-5 {
  //   margin-left: 0;
  // }
  #image-bg {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left, .right {
    display: flex;
    height: auto;
  }
  .left {
    width: 60%;
  }
  .right {
    width: 40%;;
  }
  section.left-text {
    width: 50vw;
    position: relative;
    left: 5vw;
    bottom: -15vh;
  }
}

.replacing-text {
  text-align: left;
}
.replacing-text div::after {
  content: "events";
  animation: text 50s infinite;
  color: transparent;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes text {
  10% {
    content: 'meetups';
  }
  20% {
    content: 'workshops';
  }
  30% {
    content: 'birthdays';
  }
  40% {
    content: 'seminars';
  }
  50% {
    content: 'exhibitions';
  }
  60% {
    content: 'trade shows';
  }
  70% {
    content: 'award functions';
  }
  80% {
    content: 'town halls';
  }
  90% {
    content: 'summits';
  }
  100% {
    content: 'events';
  }
}

.account-login {
  font-weight: bold;color: var(--ev-brandname-darkblue);
  margin-bottom: 0 !important;
}

.progress-container {
	width: 15vw;
	display: flex;
	flex-direction: row;
}
.progress {
	flex: 1;
	height: 1px;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef99;
	border-radius: 0.25rem;
	margin-top: 0.79rem;
}

.progress-level {
	flex: 1;
	height: 1px !important;
	background-color: #e9ecef;
	margin-top: .785rem !important;
}

.progress-count {
  font-size: .9rem;
}

.progress-total {
  color: #e9ecef99;
}

.btn {
  text-transform: capitalize;
}

.btn-primary {
  background-color: #1b4790 !important;
  border-color: #1b4790 !important;
}


.btn-primary:hover {
  background-color: #fe5104 !important;
  border-color: #fe5104 !important;
}
