
<!-- ////////////// -->
<div class="split-screen">
  <div class="left" id="image-bg" style="background: url(../../../../assets/images/pexels-august-de-richelieu-4262413.jpg);background-size: cover;">
    <section class="copy left-text">
      
      <app-form-header 
      [logo] = "'git-logo-white'"
      [formTitle]="''">
    </app-form-header>
      <h1 class="replacing-text">Host fantastic virtual <div class="fancy"></div></h1>
      <!-- <p></p> -->
      <button (click)="gotoRegister()" class="btn btn-primary login-button px-4 mb-4 my-5"> Sign Up</button>
      
      <!-- <div class="progress-container">
        <div class="progress progress-level"></div><div class="progress"></div>  &nbsp;
        <span class="progress-count ml-4">01 </span> <span class="progress-count progress-total"> &#8211; 02</span>
      </div>              -->
    </section>
  </div>
  <div class="right" style="overflow-y: scroll;">
    <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-5 mx-auto my-auto form-card">
        <!-- box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12); -->
        <div class="card p-5" style="margin-bottom: 0;margin-left: 3%;margin-right: 3%;padding-bottom: 0 !important;">
          <div class="card-body" style="padding: 0;">
            <div class="row">
              <div class="d-flex justify-content-center">
                <app-form-header 
                [logo] = "'git-logo'"
                [formTitle]="''">
                </app-form-header>

              </div>
              <div class="col mb-4">
                <div class="row mb-1">
                  <div class="col">
                      <h4 style="font-weight: bolder;text-align: center;">Log In to your account</h4>
                  </div>
              </div>
     <!-- login form -->
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">                

      <div *ngIf="errorMsgs?.message" class="row text-center">
        <div class="col alert alert-danger">
          <small class="text-danger">{{errorMsgs.message}}</small>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mt-3">
            <label class="form-label" for="floatingFname" style="margin-bottom: 0;font-size: 0.8rem;margin-left: 5px !important;">Email</label>
            <input type="text" class="form-control form-element" id="floatingInput" style="height: 40px;" placeholder="name@example.com" formControlName="email" required>
          </div>
          <small *ngFor="let x of errorMsgs?.errors?.email"><span class="text-danger">{{x}}</span></small>
          <small *ngIf="saved && loginForm.controls.email.errors" class="text-danger">
            Please enter a valid email address
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mt-3">
            <label class="form-label" for="floatingFname" style="margin-bottom: 0;font-size: 0.8rem;margin-left: 5px !important;">Password</label>
            <input type="password" class="form-control form-element" id="floatingInput" style="height: 40px;" placeholder="miwer9423" formControlName="password" required>
          </div>
          <small *ngFor="let x of errorMsgs?.errors?.password"><span class="text-danger">{{x}}</span></small>
          <small *ngIf="saved && loginForm.controls.password.errors" id="titleHelp" class="text-danger">
            Password must be at least 8 characters
          </small>
        </div>
      </div>

      <!-- <div class="row my-4">
        <div class="col-lg-12">
          <span class="float-left">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
            </div>
          </span>
          <span class="float-right">
            <a routerLink="/recovery_email" class="form-link"><small>Forgot your password?</small></a>
          </span>
        </div>
      </div> -->

      <div class="row mt-5">
        <div class="col">
          <button class="float-right register-button btn btn-primary form-element form-btn">
            <span *ngIf="isSending" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            Log in
          </button>
        </div>
      </div>                

    </form>
    <!-- /.login form -->

    <div class="row mt-3">
      <div class="col text-center">                
        <span>
          <a routerLink="/recovery_email" class="form-link"><small>Forgot your password?</small></a>
        </span>
      </div>
    </div>


      <span class="text-center mx-5">
        <p>
          <div class="separator">or sign up with</div>
        <p></p>
      </span>

      <div class="row">

        <div class="d-flex justify-content-center social-div">
          <!-- <div class="spinner-grow" role="status">  -->
            <!-- <span class="spinner-grow spinner-grow-sm text-secondary ev-spinner" role="status" aria-hidden="true"></span>
            <span class="spinner-grow spinner-grow-sm text-secondary ev-spinner" role="status" aria-hidden="true"></span>
            <span class="spinner-grow spinner-grow-sm text-secondary ev-spinner" role="status" aria-hidden="true"></span> -->
            <button (click)="googleSignUp()" class="btn m-1 social-btn"><span>
              <img class="rounded-circle social-logo zoom" src="../../../../assets/images/social-media/099-google.png" alt="google logo" width="26" height="26">
            </span></button>
            <button (click)="facebookSignUp()" class="btn m-1 social-btn"><span>
              <img class="rounded-circle social-logo zoom" src="../../../../assets/images/social-media/036-facebook.png" alt="facebook logo" width="26" height="26">
            </span></button>
          <!-- </div> -->
        </div>

        <!-- <div class="col mb-2">
          <button type="button" class="socialite-buttons float-right btn btn-lg border form-element form-btn" (click)="googleSignUp()">
           <div class="socialite-icon-and-text" style="display: block ruby;">
            <span class="ml-3">
              <img class="rounded-circle social-logo" src="../../../../assets/images/social-media/099-google.png" alt="" width="25" height="25">
            </span>
            <span style="font-size: 18px;"> Google </span>
           </div>
          </button>
        </div> -->
      </div>

      <!-- <div class="row">
        <div class="col mb-1">
          <button type="button" class="socialite-buttons float-right btn btn-lg border form-element form-btn" (click)="facebookSignUp()">
            <div class="socialite-icon-and-text" style="display: block ruby;">
            <span class="ml-3">
              <img class="rounded-circle social-logo" src="../../../../assets/images/social-media/036-facebook.png" alt="" width="25" height="25">
            </span>
             <span style="font-size: 18px;"> Facebook </span>
            </div>
          </button>
        </div>
      </div> -->

      <!-- <section class="copy legal">
        <p class="account-login">
          Don't have an account? <a routerLink="/register">Sign up for a new account</a>
          
        </p>
      </section> -->
      
      <!-- <div class="d-flex justify-content-center">
        <div class="p-2 text-muted hide-on-mobile">&copy; Events369</div>
        <div class="p-2 text-muted card-links" routerLink="/help">Help</div>
        <div class="p-2 text-muted card-links" routerLink="/privacy">Privacy & Terms</div>
      </div>
      <div class="d-flex justify-content-center show-on-mobile">
        <div class="p-2 text-muted">&copy; Events369</div>
      </div> -->
    </div>

  </div>

</div>
</div>


</div>



</div>
</div>
  <div class="d-flex justify-content-center bg-light">

    <span class="mx-5 text-center"><p class="account-login p-2"> <a routerLink="/register">Sign Up</a> &bull; <a routerLink="/privacy">Privacy Policy</a> &bull; <a routerLink="/privacy">Terms of Use</a></p></span>
  
  </div>

  </div>
  
</div>