:root {
    
  --ev-searchbar-background: #f8f7fb !important;
  --ev-placeholder-background: #b7b2b2 !important;
  --ev-searchbar-border: #f8f7fa !important;
  --ev-nav-link-color: rgba(0,0,0,.55) !important;
  --ev-background: #fff !important;
  --ev-create-event-nav-background: #1e1e2e !important;
  --ev-create-event-side-menu-background: #f9f9f9;
  // --ev-brandname-darkblue: #1e0a3c;
  // --ev-brandname-orange: #f05537;
  --ev-brandname-darkblue: #1b4790;
  --ev-brandname-orange: #fe5104;
  --ev-box-shadow: 0 16px 24px 2px rgba(29,17,51,.04),0 6px 32px 4px rgba(9,32,77,.12),0 8px 12px -5px rgba(29,17,51,.12);
  --ev-primary-background: #fff;
  --ev-secondary-background: #f7f7f7;
  --ev-tertiary-background: #7d2ae8;
  --ev-white: #212121;
  --ev-input-form-control-background: #f8f7fa;
  --ev-bx-background:rgb(247,247,247, 1);
  --ev-bx-opacity: 1;
  --ev-sidebar-border-color: rgba(49, 48, 48, .1);
  --ev-hr-border-color: rgba(49, 48, 48, .34);
  --ev-schedule-card-border-color: rgba(49, 48, 48, .1);
  --ev-checkmark-background: white;
  --ev-discover-checkmark-background: white;
  --ev-profile-border: rgba(255,255,255, .3);
  --ev-dark-mode-button-background: white;
  --ev-dropdown-content-background: rgba(0, 0, 0, .04);
  --ev-sidebar-menu-active-icon: rgba(33,176,126,255);
  --ev-nav-active-border: rgba(17,16,29, .5);
  --ev-card-date: rgba(45,45,64, .04);
  --ev-card-ticket-pseudo-bottom-bg: white;
  --ev-card-ticket-checkmark-bg: var(--blue);
  --ev-black: white;
  --ev-text-color: rgba(17,16,29, .5);
  --ev-schedule-card-color: rgba(0,0,0,.8);
  --ev-schedule-user-profile-bg-hover: rgba(17, 16, 29, 0.07);
  --ev-host-event-card-bg: rgba(0, 0, 0, 0.074);
  --ev-card-icon-bg: rgba(241,110,188, .2);
  --ev-card-icon-first-bg: rgba(0,177,114, .1);
  --ev-hscroll-button-hover-bg: rgba(0, 0, 0, 0.08);
  --ev-create-event-bg: white;
  --ev-create-event-input-bg: #f8f7fa;
  --ev-create-event-scrollbar: rgb(205, 205, 205) rgb(240, 240, 240);
  --ev-calendar-bg: #f8f7fa;
  --ev-calendar-black: #212121;
  --ev-calendar-content-field: #f0f0f4;  

  .dark-theme {
    --primary-color: #fff;
    --ev-background: #1e1e2e;
    --ev-sub-item-background: #516474;
    --ev-item-background: #414553;
    --ev-active: #0d79f8;
    --ev-menu-item: #a4a4a4;
    --ev-searchbar-background: #f8f7fb !important;
    --ev-placeholder-background: #b7b2b2 !important;
    --ev-searchbar-border: #f8f7fa !important;

    --ev-primary-background: #11101D;
    --ev-secondary-background: #1d1b31;
    --ev-tertiary-background: #7d2ae8;
    --ev-white: #fff;
    // --ev-input-form-control-background: #767a7d61;
    --ev-input-form-control-background: #373842;
    --ev-bx-background: rgba(255, 255, 255, 0.3);
    --ev-bx-opacity: .5;
    --ev-sidebar-border-color: rgba(49, 48, 48, 1);
    --ev-hr-border-color: rgba(49, 48, 48, 1);
    --ev-schedule-card-border-color: rgba(49, 48, 48, .5);
    --ev-checkmark-background: #353434;
    --ev-discover-checkmark-background: white;
    --ev-profile-border: rgba(255,255,255, .3);
    --ev-dark-mode-button-background: #1d1b31;
    --ev-dropdown-content-background: rgba(0, 0, 0, .1);
    --ev-sidebar-menu-active-icon: rgba(33,176,126,255);
    --ev-nav-active-border: rgba(255,255,255, .5);
    --ev-card-date: rgba(45,45,64, 1);
    --ev-card-ticket-pseudo-bottom-bg: initial;
    --ev-card-ticket-checkmark-bg: white;
    --ev-black: #1e1e2e;
    --ev-text-color: rgba(255, 255, 255, 0.5);
    --ev-schedule-card-color: rgba(255,255,255,.8); 
    --ev-schedule-user-profile-bg-hover: rgba(255, 255, 255, 0.07);
    --ev-host-event-card-bg: rgba(0, 0, 0, 0.3);
    --ev-card-icon-bg: rgba(83,78,87,255);
    --ev-card-icon-first-bg: rgba(74,80,83,255);
    --ev-hscroll-button-hover-bg: rgba(255, 255, 255, 0.3);
    --ev-create-event-bg: rgba(40,39,48,255);
    --ev-create-event-input-bg: rgba(50,48,59,255);
    --ev-create-event-scrollbar: rgba(120,119,125,255) rgba(255, 255, 255, .0);
    --ev-calendar-bg: rgba(236,235,239,255);
    --ev-calendar-black: #1e1e2e;
    --ev-calendar-content-field: rgba(225,224,230,255);  
  }

  .no-y-oversroll {
    overflow-y: hidden !important;
  }

  
  .fancy span {
    opacity: 0;
    transition: all .5s ease;
    transform: translateY(50px);
    display: inline-block;
  }

  .text-flow {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }

  @media (min-width: 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
    .col-md-8 {
      width: 100% !important;
    }
    .col-md-4 {
      width: 100% !important;
    }
  }
  
  // @media (min-width: 992px) and (orientation : landscape) {
  //   .col-lg-4 {
  //     width: 100% !important;
  //   }
  // }

  @media (min-width: 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .col-md-4 {
      width: 100% !important;
    }
  }

  .ev-spinner {
    // position: relative;
    // left: 48%;
    margin: 1vh;
    width: 8px; 
    height: 8px;
  }

  .ev-display-only-non-mobile {
    display: none;
  }
  .ev-display-only-mobile {
    display: none;
  }
  
  
  @media (max-width: 576px) {
    .ev-display-only-non-mobile {
      display: none;
    }
    .ev-display-only-mobile {
      display: block;
    }
  }
  
  @media (min-width: 577px) {
    .ev-display-only-non-mobile {
      display: block;
    }
    .ev-display-only-mobile {
      display: none;
    }
  }

  .ev-navbar {
    width: 100%;
    z-index: 99999;
    background-color: var(--ev-create-event-nav-background) !important;
    color: var(--primary-color);
  }

  
}
