<!-- <app-navbar></app-navbar> -->
<!-- <app-ad-banner *ngIf="bannerAdsData?.length !== 0"></app-ad-banner> -->
<!-- <app-live-events *ngIf="eventsNow?.length !== 0"></app-live-events> -->
<!-- <app-events-list></app-events-list> -->
<!-- <app-footer></app-footer> -->
<main>
    <div class="sidebar open">
        <div class="logo-details">
          <i class='bx bx-menu'></i>
          <span class="logo_name">events369</span>
        </div>
        
        <ul class="nav-links">
            <p class="list-title text-muted px-4 mt-2 mb-2">
                MENU
            </p>
          <li>
            <a routerLink="/">
              <i class='bx bxs-home' ></i>
              <span class="link_name">Discover</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Discover</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a routerLink="/events/popular">
                <i class='bx bx-trending-up'></i>
                <span class="link_name">Popular</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Popular</a></li>
              <!-- <li><a href="#">HTML & CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">PHP & MySQL</a></li> -->
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxs-video-recording'></i>
                <span class="link_name">Streaming</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Streaming</a></li>
              <!-- <li><a href="#">Web Design</a></li>
              <li><a href="#">Login Form</a></li>
              <li><a href="#">Card Design</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-time-five'></i>
              <span class="link_name">Upcoming</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Upcoming</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-heart'></i>
              <span class="link_name">Favorites</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Favorites</a></li>
            </ul>
          </li>
          <span class="h-rule mx-4 px-4">
             <hr class="mx-4">
          </span>
          <p class="list-title text-muted px-4 mt-2 mb-2">
              CATEGORY
          </p>
          <li>
            <a href="#" class="active">
              <i class='bx bxs-briefcase'></i>
              <span class="link_name">Corporate</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Corporate</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-cake'></i>
              <span class="link_name">Social</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Social</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxs-music'></i>
                <span class="link_name">Festivals</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Festivals</a></li>
              <!-- <li><a href="#">UI Face</a></li>
              <li><a href="#">Pigments</a></li>
              <li><a href="#">Box Icons</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-star'></i>
              <span class="link_name">New</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">New</a></li>
            </ul>
          </li>
          <!-- <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">This Weekend</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">This Weekend</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>-->
          
          <span class="h-rule mx-4 px-4">
            <hr class="mx-4">
         </span>
          <li>         
        <div class="profile-details">
            <div class="form-group" style="display: flex;">
                <!-- <label>Test3</label> -->
                <div style="display: flex;flex-direction: row;">
                    <label *ngIf="!darkMode" (click)="toggleDarkMode()" class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <label *ngIf="darkMode" (click)="toggleLightMode()" class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                  </label>
                 <span class="link_name ml-3">Night mode</span>
                 </div>
            </div>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
        <nav class="navbar sticky-top navbar-light bg-light justify-content-between">
            <form class="form-inline pl-3">
              <div class="form-group has-search">
                <span class="bi bi-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <!-- <button class="btn btn-primary login-button px-3 ml-2"> Host an Event</button> -->
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                
            </form>
            <div class="dropdown_user only-non-mobile">
                <div class="dropbtn_user" style="display: grid;height: 100%;">
                       <span class="ev-border-authenticated" style="display: flex;flex-direction: row; justify-content: space-between;">
                        <div class="img square" style="flex: 1;background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                             <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg" />
                        </div> 
                        <b class="mx-2 text-white font-weight-normal navbar-username" style="margin-top: .5rem;opacity: .8;"> David</b>
                        <i class="bi bi-chevron-down" style="color: #9f9f9f;margin-top: .5rem;flex: 1;opacity: .5;"></i>
                        <i class="bi bi-bell-fill ml-5" style="color: grey;margin-top: .5rem;flex: 1;"></i>
                        <span class="dot"></span>
                         <!-- <ion-icon style="margin-top: 1vh;margin-left: 1vh;" name="chevron-down-outline"></ion-icon> -->
                       </span>
                </div>
                        
                <div class="dropdown-content_user"> 
                    <!-- <a href="#" id="browse_events_link">Browse Events</a> -->
                    <a id="browse_events_link">Notifications <span class="dot"></span> </a>
                    <a> Favorites </a>
                    <a> Following</a>
                    <a style="border-top: 1px solid var(--ev-hr-border-color); cursor: pointer;">Manage event</a>
                    <a>Tickets (0)</a> 

                    <!-- not working  -->
                    <!-- <a href="#">Credits</a> -->
                    <!-- <a href="#">Collections</a> -->
                    <!-- <a href="#">Interests</a> -->
                    
                    
                    <!-- <a href="#">Messages</a> -->
                    <!-- <a href="#">Events</a> -->
                    <!-- <a href="#">Saved</a> -->
                    <!-- end of not working  -->

                    <a href="/create_event/basic_info">Host an event</a>
                    <a href="/account/profile" style="border-top: 1px solid var(--ev-hr-border-color);">Account</a>
                    <!-- href="https://about.gitlab.com/get-help/" -->
                    <a  target="_blank" routerLink="/help">Help</a>
                    <a id="logout_link">Log out</a>
                </div>
            </div>
              
            <!-- <div class="img square mr-3" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);">
                <a href="#">
                  <img src="http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg">
                </a>
              </div> -->
            </nav>
          <section class="workspace pt-4">
            <div class="workspace-nav">
                <!-- <h2 class="px-4 ml-2 my-1 mt-4 text-white">Discover</h2> -->
                
                <div class="row autoplay ml-1 pl-2 mb-3" style="display: flex;">
                    <div class="card mt-3 mr-4 mb-2 banner-card-active" style="background: url('../../../../assets/images/pexels-august-de-richelieu-4262413.jpg') no-repeat center center fixed; background-size: cover;cursor: pointer;margin-right: 2rem !important; width: -moz-available; width: --webkit-fill-available;">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body mt-1">
                          <!-- <h1 style="color: white;text-align: right;">Good evenning David</h1> -->
                          <div style="width: 45%;">
                            <!-- <h1 style="color: white;text-align: left;font-size: 1.3rem;">How to do Basic Jumping and how to landing safely</h1> -->
                          
                          </div>
                         
                          
                        </div>
                        
                        <div class="card-footer ml-3 pl-1" style="border: none;">
                            <!-- <div class="profile-details my-4" style="display: flex;">
                                <div class="profile-content" style="border: 1px solid var(--ev-profile-border);padding: 4px;border-radius: 50%;">
                                  <img src="../../../assets/images/avatar-placeholder.png" style="height: 50px;width: 50px;border-radius: 50%;" alt="profileImg">
                                
                                  <span class="discover-user-checkmark"><i class="bi bi-check"></i></span></div>
                                <div class="name-job p-2">
                                  <div class="profile_name" style="color: white;">Anthony Andrew</div>
                                  <div class="job" style="font-size: .8rem;opacity: .7;color: white !important;">53.2K Views &bull; 2 weeks ago</div>
                                </div> -->
                                <!-- <i class='bx bx-log-out' ></i> -->
                              <!-- </div> -->
                              <!-- <p class="card-text row mb-3 mr-3" style="display: flex; background-color: rgba(10, 10, 25, 0.4);color: white;border-radius: 10px;font-size: .8rem;padding: 10px;" >
                                <span style="background-color: var(--ev-tertiary-background);text-align: center;width: max-content;padding: 2px 18px;border-radius: 7px;font-weight: bold;color: rgba(255, 255, 255, 0.8);">&bull; LIVE</span>
                                <span style="flex: content" class="mr-2 ml-4">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;"><path d="M8 7h3v10H8zm5 0h3v10h-3z"></path></svg>
                                </span>
                                </p> -->
                          </div>
                    </div>
                </div>  

                <div class="row ml-4 mt-5 pl-0 mb-3">
                  <ul class="nav nav-pills mb-3" style="width: -moz-available !important;width: --webkit-fill-available !important;margin-right: 2rem !important;" id="pills-tab" role="tablist">
      
                    <li class="nav-item" role="presentation">
                        <a  class="nav-link active" id="pills-drafts-tab" data-toggle="pill" href="#pills-drafts" role="tab" aria-controls="pills-drafts" aria-selected="false">
                            <ng-container >
                                Overview
                            </ng-container>
                        </a>
                        
                    </li>
                    <li class="nav-item" role="presentation">
                        <a   class="nav-link" id="pills-published-tab" data-toggle="pill" href="#pills-published" role="tab" aria-controls="pills-published" aria-selected="false">
                            <ng-container >
                                Schedule
                              </ng-container>
                        </a>
                        
                    </li>
                    <li class="nav-item" role="presentation">
                        <a   class="nav-link" id="pills-ongoing-tab" data-toggle="pill" href="#pills-ongoing" role="tab" aria-controls="pills-ongoing" aria-selected="false">
                            <ng-container >
                                Speakers
                            </ng-container>
                        </a>
                        
                    </li>
                    <li class="nav-item" role="presentation">
                        <a  class="nav-link" id="pills-cancelled-tab" data-toggle="pill" href="#pills-cancelled" role="tab" aria-controls="pills-cancelled" aria-selected="false">
                            <ng-container >
                                Host
                            </ng-container>
                        </a>
                        
                    </li>
                   
                </ul>
                
                </div>

                <div class="row ml-2 pl-1">
        
                  <div class="tab-content pt-2  ml-4" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-drafts" role="tabpanel" aria-labelledby="pills-drafts-tab">
                    <h5 class="text-white pb-4">ABOUT THIS EVENT</h5>
                    <p class="text-white mr-5 mb-4 pr-2">
                      Join us for a one-day virtual event that brings together a 
                      collection of the world’s leading marketing experts. Traffic Think Tank Live 2021 will deliver tactical talks on SEO, content marketing, affiliate marketing, leadership, and running an agency, as well as virtual roundtable sessions where you can connect directly with the experts - all available from the comfort of your home.


                      Your ticket gives you full access to all of the virtual talks from our amazing 
                      lineup of speakers. There will be regular breaks through the day as well as panel discussions, virtual roundtable sessions, and the ability to meet other attendees via the attendee lounge. You'll also be able to use the live chat throughout the day to talk with attendees.

                      IMPORTANT: There will be a hard cap of 1,000 attendees, with 400 tickets reserved 
                      for non-Traffic Think Tank members.

                      Finally, we'll be publishing the full session recordings for attendees within the 
                      Traffic Think Tank Academy after the event so that you can look back on them again and again.
                    </p>
                    <hr style="height: 1px !important;margin-right: 3.5rem !important;">
                    <h5 class="text-white pt-5 pb-2">SCHEDULE</h5>

                    <div style="display: flex; flex-direction: row;">
                      
                    <span class="card-schedule-active mt-4" style="display: flex; flex-direction: column;">
                      <small style="flex: 1;">Friday</small>  
                       <h6 style="flex: 1;font-size: 1.3rem;min-width: 78px;">Sep 17</h6> 
                      <small>2021</small>
                    </span>

                    
                    <span class="card-schedule mt-4" style="background-color: var(--ev-primary-background); border: 1px solid var(--ev-schedule-card-border-color); display: flex; flex-direction: column;">
                      <small style="flex: 1;">Saturday</small>  
                       <h6 style="flex: 1;font-size: 1.3rem;min-width: 78px;color: var(--ev-schedule-card-color);">Sep 18</h6> 
                      <small>2021</small>
                    </span>

                    
                    <span class="card-schedule mt-4" style="background-color: var(--ev-primary-background); border: 1px solid var(--ev-schedule-card-border-color); display: flex; flex-direction: column;">
                      <small style="flex: 1;">Sunday</small>  
                       <h6 style="flex: 1;font-size: 1.3rem;min-width: 78px;color: var(--ev-schedule-card-color);">Sep 19</h6> 
                      <small>2021</small>
                    </span>


                    </div>

                    <div class="mt-5 mb-5 text-white" style="display: flex;flex-direction: row;">
                      <div style="flex: 1;">
                        <span>12:00 AM - 1:00 AM</span>
                      </div>
                      <div style="flex: 1;">
                        
                          <h5>Doors Open & Networking</h5>
                          <p style="font-size: 1rem;">
                          <span>Doors open for the TechUp weekend!</span> <br>
                          <span> <br>
                            - Familiarize yourself with the platform <br>
                            - Review the Schedule and select your favorite activities <br>
                            - Connect with the TechUp community @ the Lounge <br><br>

                            Any doubts: <br>
                            Come find the TechUp team at the Event Support table @ the Lounge.
                          </span>
                        </p>
                      </div>
                      <div style="flex: 1;">
                        <i class="bi bi-calendar-plus"></i> <span class="ml-3">Add to calendar</span>
                      </div>
                    </div>

                    <hr style="height: 1px !important;margin-right: 3.5rem !important;">

                    <div class="mt-5 mb-5 text-white" style="display: flex;flex-direction: row;">
                      <div style="flex: 1;">
                        <span>12:00 AM - 1:00 AM</span>
                      </div>
                      <div style="flex: 2; display: flex;flex-direction: column;">
                        <div style="display: flex;flex-direction: row;">
                          <div style="flex: 1;">
                            
                            <h5>Doors Open & Networking</h5>
                            <p style="font-size: 1rem;">
                            <span>Doors open for the TechUp weekend!</span> <br>
                            <span> <br>
                              - Familiarize yourself with the platform <br>
                            </span>
                          </p>
                        </div>                        
                          <div style="flex: 1;">
                            <i class="bi bi-calendar-plus"></i> <span class="ml-3">Add to calendar</span>
                          </div>
                        </div>
                        <div>
                          <div class="results">
                            <div class="box mr-4">
                              <span class="color-circle" style="background-image: url(http://s3.amazonaws.com/images.couchsurfing.us/MICBP/115976_t_718aa2b69a929aa9f57c00e7b047174b.jpg);"></span>
                              <span class="string">Sergio Pedercini</span>
                            </div>
                            <div class="box mr-4">
                              <span class="color-circle" [ngStyle]="{'background-color': stringToHslColor('Ongo Gonzalez', 30, 80)}">OG</span>
                              <span class="string">Ongo Gonzalez </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <hr style="height: 1px !important;margin-right: 3.5rem !important;">

                    <div class="mt-5 mb-5 text-white" style="display: flex;flex-direction: row;">
                      <div style="flex: 1;">
                        <span>12:00 AM - 1:00 AM</span>
                      </div>
                      <div style="flex: 1;">
                        
                          <h5>Doors Open & Networking</h5>
                          <p style="font-size: 1rem;">
                          <span>Doors open for the TechUp weekend!</span> <br>
                          <span> <br>
                            - Familiarize yourself with the platform <br>
                          </span>
                        </p>
                      </div>
                      <div style="flex: 1;">
                        <i class="bi bi-calendar-plus"></i> <span class="ml-3">Add to calendar</span>
                      </div>
                    </div>

                    <h5 class="text-white pb-4">SPEAKERS</h5>
                    <div class="card-deck ml-0 mr-4 mt-3">
                      <div class="card" style="background-color: rgba(255,255,255,.06);">
                        <!-- <img class="card-img-top" src="..." #f57736;alt="Card image cap"> -->
                        <div class="card-body">
                          <h3 class="card-title">
                            <div style="padding: 4px;border-radius: 50%;">
                              <img src="../../../assets/images/avatar-placeholder.png" style="height: 100px;width: 100px;border-radius: 50%;" alt="profileImg">
                          
                            </div>
                          </h3>
                          <p class="card-text font-weight-bold text-white">Pua Ming Fei</p>
                          <p class="card-text"><small class="text-muted">Solution Architect, Red Hat</small></p>
                          <p class="text-white pt-3" style="font-size: .8rem;">
                            Ming Fei is a Account Solutions Architect for Red Hat Malaysia. 
                            He has more than 15 years old of consulting experience in helping customer to
                             deliver integration projects in the areas of ESB, API Management and B2B exchange. 
                             Currently he is driving technical enablement activities for Red Hat focusing on Red Hat 
                            Application Services portfolio, Automation, Container technologies, and DevOps.
                          </p>
                        </div>
                      </div>
                      <div class="card" style="background-color: rgba(255,255,255,.06);">
                        <!-- <img class="card-img-top" src="..." #f57736;alt="Card image cap"> -->
                        <div class="card-body">
                          <h3 class="card-title">
                            <div style="padding: 4px;border-radius: 50%;">
                              <img src="../../../assets/images/avatar-placeholder.png" style="height: 100px;width: 100px;border-radius: 50%;" alt="profileImg">
                          
                            </div>
                          </h3>
                          <p class="card-text font-weight-bold text-white">Pua Ming Fei</p>
                          <p class="card-text"><small class="text-muted">Solution Architect, Red Hat</small></p>
                          <p class="text-white pt-3" style="font-size: .8rem;">
                            Ming Fei is a Account Solutions Architect for Red Hat Malaysia. 
                            He has more than 15 years old of consulting experience in helping customer to
                             deliver integration projects in the areas of ESB, API Management and B2B exchange. 
                             Currently he is driving technical enablement activities for Red Hat focusing on Red Hat 
                            Application Services portfolio, Automation, Container technologies, and DevOps.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="card-deck ml-0 mr-4 mt-3">
                      <div class="card" style="background-color: rgba(255,255,255,.06);">
                        <!-- <img class="card-img-top" src="..." #f57736;alt="Card image cap"> -->
                        <div class="card-body">
                          <h3 class="card-title">
                            <div style="padding: 4px;border-radius: 50%;">
                              <img src="../../../assets/images/avatar-placeholder.png" style="height: 100px;width: 100px;border-radius: 50%;" alt="profileImg">
                          
                            </div>
                          </h3>
                          <p class="card-text font-weight-bold text-white">Pua Ming Fei</p>
                          <p class="card-text"><small class="text-muted">Solution Architect, Red Hat</small></p>
                          <p class="text-white pt-3" style="font-size: .8rem;">
                            Ming Fei is a Account Solutions Architect for Red Hat Malaysia. 
                            He has more than 15 years old of consulting experience in helping customer to
                             deliver integration projects in the areas of ESB, API Management and B2B exchange. 
                             Currently he is driving technical enablement activities for Red Hat focusing on Red Hat 
                            Application Services portfolio, Automation, Container technologies, and DevOps.
                          </p>
                        </div>
                      </div>
                      <div class="card" style="background-color: rgba(255,255,255,.06);">
                        <!-- <img class="card-img-top" src="..." #f57736;alt="Card image cap"> -->
                        <div class="card-body">
                          <h3 class="card-title">
                            <div style="padding: 4px;border-radius: 50%;">
                              <img src="../../../assets/images/avatar-placeholder.png" style="height: 100px;width: 100px;border-radius: 50%;" alt="profileImg">
                          
                            </div>
                          </h3>
                          <p class="card-text font-weight-bold text-white">Pua Ming Fei</p>
                          <p class="card-text"><small class="text-muted">Solution Architect, Red Hat</small></p>
                          <p class="text-white pt-3" style="font-size: .8rem;">
                            Ming Fei is a Account Solutions Architect for Red Hat Malaysia. 
                            He has more than 15 years old of consulting experience in helping customer to
                             deliver integration projects in the areas of ESB, API Management and B2B exchange. 
                             Currently he is driving technical enablement activities for Red Hat focusing on Red Hat 
                            Application Services portfolio, Automation, Container technologies, and DevOps.
                          </p>
                        </div>
                      </div>
                    </div>
                    </div>
              
                    <div class="tab-pane fade" id="pills-published" role="tabpanel" aria-labelledby="pills-all-tab">
                    If you need responsive nav variations, consider using a series of<br>
                    <br> flexbox utilities. While more verbose, these utilities offer<br>
                    <br> greater customization across responsive breakpoints.<br>
                    <br> In the example below, our nav will be stacked on the lowest breakpoint, <br>
                    <br>then adapt to a horizontal layout that fills the available width starting from the small breakpoint.
                    </div>
                    
                    <div class="tab-pane fade" id="pills-ongoing" role="tabpanel" aria-labelledby="pills-all-tab">
                    If you need responsive nav variations, consider using a series of<br>
                    <br> flexbox utilities. While more verbose, these utilities offer<br>
                    <br> greater customization across responsive breakpoints. <br>
                    <br>In the example below, our nav will be stacked on the lowest breakpoint, <br>
                    <br>then adapt to a horizontal layout that fills the available width starting from the small breakpoint.
                    </div>
                    
                    <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-all-tab">
                    If you need responsive nav variations, consider using a series of<br>
                    <br> flexbox utilities. While more verbose, these utilities offer<br>
                    <br> greater customization across responsive breakpoints. <br>
                    <br>In the example below, our nav will be stacked on the lowest breakpoint, <br>
                    <br>then adapt to a horizontal layout that fills the available width starting from the small breakpoint.
                    </div>
                  </div>
                        
                </div>
            </div>
            <div class="workspace-core">
              <div class="row autoplay mb-3" style="display: flex;">
              <div class="card card-ticket mt-3 mr-3 mb-0 card-next" style="background-color: rgba(255,255,255,.15); cursor: pointer; width: -moz-available; width: --webkit-fill-available;border-end-start-radius: 0px !important; border-end-end-radius: 0px !important;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <span class="card-date">
                    <b style="font-size: 1.5rem;color: var(--ev-white);">17</b> Sep
                     
                    <small class="text-muted"> 2021</small>
                </span>
                <div class="card-body mt-1">
                    <!-- <h1 style="color: white;text-align: right;">Good evenning David</h1> -->
                    <div class="pt-4" style="width: 100%;">
                      <h1 style="text-align: left;font-size: 1.7rem;color: var(--ev-white);">Skateboard Tips You need to know</h1>
                    
                     
                      
                    </div>
                   
                    
                  </div>
                  
                  <div class="card-footer ml-3 pl-1" style="border: none;">
                    <span style="font-size: .8rem;opacity: .7;color: var(--ev-white) !important;">Hosted by</span>
                    <br>
                    <div class="profile-details my-4" style="display: -webkit-inline-box;justify-content: flex-start;">
                        <div class="profile-content">
                          <div style="border: 1px solid var(--ev-profile-border);padding: 4px;border-radius: 50%;">
                            <img src="../../../assets/images/avatar-placeholder.png" style="height: 50px;width: 50px;border-radius: 50%;" alt="profileImg">
                        
                          </div>
                          
                          <span class="discover-user-checkmark"><i class='bx bx-check'></i></span></div>
                        <div class="name-job p-2">
                          <div class="profile_name" style="color: var(--ev-white);">Anthony Andrew</div>
                          <div class="job text-white" style="font-size: .8rem;opacity: .7;color: var(--ev-white) !important;">
                            <!-- <button routerLink="/" disabled class="btn btn-primary login-button btn-md my-2" type="button">Follow</button> -->
                           Joined 2021
                          </div>
                        </div>
                        <!-- <i class='bx bx-log-out' ></i> -->
                      </div>
                  </div>
              </div>

              <div class="card ticket mt-0 mr-3 mb-2 card-next" style="background-color: rgba(255,255,255,.05); cursor: pointer; width: -moz-available; width: --webkit-fill-available;border-top: 1px dashed rgba(255,255,255, .1);border-start-start-radius: 0px !important; border-start-end-radius: 0px !important;">
                                  
                  <div class="card-footer ml-3 mr-3 pt-4 pl-1" style="border: none;padding-top: 2rem !important;">
                    <span style="font-size: .7rem;opacity: .5;color: var(--ev-white) !important;">START TIME</span>
                    <br>
                    <span style="font-size: 1rem;font-weight: 440;opacity: .7; color: var(--ev-white) !important;">SEP 17, 1:30 PM - 9:00 PM <small style="font-size: 1rem;" class="text-muted">GMT</small> </span>
                    
                    <div class="pt-4" style="display: flex;flex-direction: row;">
                      <div style="flex: 1;">
                        <span style="font-size: .7rem;opacity: .5;color: var(--ev-white) !important;">STARTING FROM</span>
                        <br>
                        <span style="font-size: 1rem;font-weight: 440;opacity: .7; color: var(--ev-white);">GHS</span> <span style="font-size: 1rem;font-weight: 500;opacity: .8; color: var(--ev-white) !important;"> 45</span>
                      </div>
                      <div style="flex: 2;">
                        <span style="font-size: .7rem;opacity: .5;color: var(--ev-white) !important;">EVENT STARTS IN</span>
                        <br>
                        <span style="font-size: 1rem;font-weight: 440;opacity: .7; color: var(--ev-white) !important;">35D : 12H : 57M: 44S </span>
                                         
                      </div>
                    </div>

                    <div style="text-align: center;" class="mt-4">
                      <button routerLink="/" class="btn btn-primary ticket-button btn-md mb-2" type="button">Get Ticket</button>
                      <button routerLink="/" disabled class="btn btn-primary calendar-button btn-md ml-3 mb-2" type="button">Add to calendar</button>
                     
                    </div>
                          
                  </div>
              </div>


              </div>
            </div>
        </section>
        

        <!-- manage events section  -->
       
      </section>
    
  
</main>
  











  





