// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
// }
body{
  /* background: #f2f3fb; */
  background: #7d2ae8;
}
::selection{
  color: var(--ev-white);
  background: #7d2ae8;
}
// .view-modal, .popup {
// 	/* position: relative; */
// 	/* left: 50%; */
// }

button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
  font-size: .8rem;
}
.view-modal{
  top: 50%;
  color: #7d2ae8;
  font-size: 18px;
  padding: 10px 25px;
  background: #fff;
  transform: translate(-50%, -50%);
}
// .popup{
//   background: #000;
//   padding: 25px;
//   border-radius: 15px;
//   top: 70%;
//   max-width: 380px;
//   width: 100%;
//   opacity: 1;
//   pointer-events: none;
//   box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
//   transform: translate(-50%, -50%) scale(1.2);
//   transition: top 0s 0.2s ease-in-out,
//               opacity 0.2s 0s ease-in-out,
//               transform 0.2s 0s ease-in-out;
// }
.popup {
	background: var(--ev-create-event-bg);
	padding: 25px;
	border-radius: 10px;
	/* top: 70%; */
	/* max-width: 380px; */
	/* width: 100%; */
	opacity: 1;
	// pointer-events: none;
	// box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: none;
	/* transform: translate(-50%, -50%) scale(1.2); */
	transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  height: 100vh;
  padding-right: 0;
}
.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid var(--ev-sidebar-border-color);
}
header span{
  font-size: 21px;
  font-weight: 600;
  color: #fff;
}
header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close{
  position: absolute;
  right: 3%;
  color: #fff;
  font-size: 30px;
  background: inherit;
  height: 43px;
  width: 43px;
  cursor: pointer;
  z-index: 9999;
  transition: all .4s ease-in;
}
header .close:hover{
  background: var(--ev-hscroll-button-hover-bg);
}
.popup .content{
  margin: 20px 0;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--ev-create-event-scrollbar);
  scrollbar-width: thin;
  padding-right: 25px;
}
.popup .icons{
  margin: 15px 0 20px 0;
}
.content p{
  font-size: 16px;
  color: #fff;
  opacity: .8;
  font-weight: 600;
  margin-bottom: -.3rem !important;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #1877F2;
  border-color: #b7d4fb;
}
.icons a:nth-child(1):hover{
  background: #1877F2;
}
.icons a:nth-child(2){
  color: #46C1F6;
  border-color: #b6e7fc;
}
.icons a:nth-child(2):hover{
  background: #46C1F6;
}
.icons a:nth-child(3){
  color: #e1306c;
  border-color: #f5bccf;
}
.icons a:nth-child(3):hover{
  background: #e1306c;
}
.icons a:nth-child(4){
  color: #25D366;
  border-color: #bef4d2;
}
.icons a:nth-child(4):hover{
  background: #25D366;
}
.icons a:nth-child(5){
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(5):hover{
  background: #0088cc;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 54px;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid var(--ev-sidebar-border-color);
  background-color: var(--ev-create-event-input-bg);
  padding-left: 0;
}
.field.active{
  border-color: #7d2ae8;
}
.field i{
  width: 50px;
  font-size: .9rem;
  text-align: center;
  color: var(--ev-white);
  opacity: .5;
}
.field.active i{
  color: #7d2ae8;
}
.field input{
  //   width: 100%;
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: var(--ev-create-event-input-bg);
  color: var(--ev-white);
  opacity: 1;
  border-radius: 8px;
  padding-left: .8rem;
}
.field button{
  color: #fff;
  padding: 4px 11px;
  background: rgba(255, 255,255, 0.08);
  border: 1px solid #fbfbfb1c;
}
.field .bi-plus {
    opacity: .5;
}
.field button:hover{
  background: #8d39fa;
}

::ng-deep .modal-content {
  border-radius: 12px !important;
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

::ng-deep .modal-footer {
 justify-content: flex-start !important;
 padding-left: 0 !important;
 border-top: 1px solid var(--ev-sidebar-border-color);  
}

.login-button {
  background-color: #7d2ae8;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1.8rem;
  transition: all .4s ease-in;
}

.login-button:hover {
  // background-color: #8d39fac9;
  // border-color:  #8d39fac9;
  opacity: .9;
}

::ng-deep .modal.show .modal-dialog {
	transform: none;
	right: 0;
	position: absolute;
	width: 80% !important;
}

::ng-deep .modal-dialog {
	max-width: 78%;
	margin: 0;
}

// ::ng-deep .modal.fade .modal-dialog {
//   -webkit-transform: translate3d(-25%, 0, 0) !important;
//   transform: translate3d(-25%, 0, 0) !important;
// }

.text-white {
  color: var(--ev-white);
}

small {
  font-size: .78rem !important;
}

.image-desc {
	font-size: 16px;
	text-align: center;
	color: var(--ev-white);
	margin-left: 10%;
	margin-right: 10%;
	opacity: .8;
	font-weight: 471;
	word-spacing: px;
}

.demo-inline-calendar-card {
  width: 100%;
}

// ::ng-deep .mat-calendar-body-label {
//   // display: none !important;
// }

::ng-deep .mat-calendar-body-cell-content, .mat-date-range-input-separator {
	color: var(--ev-calendar-black) !important;
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button {
	color: var(--ev-calendar-black) !important;
}

::ng-deep .mat-calendar-table-header {
	color: var(--ev-calendar-black);
}

::ng-deep .mat-calendar-table-header tr th:first-child, ::ng-deep .mat-calendar-table-header tr th:last-child {
    color: #ea5750 !important;

  }
  // .mat-calendar-table-header tr:last-child  {


::ng-deep .mat-calendar-table-header-divider::after {
	background: rgba(227,226,231,255) !important;
}

::ng-deep .mat-calendar-body-today:is(.mat-calendar-body-selected):is(.mat-calendar-body-comparison-identical) {
	border-color: rgba(149,129,250,255) !important;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
	border-color: transparent !important;
}

::ng-deep .mat-calendar-arrow {
	border-top-color: var(--ev-calendar-black) !important;
}

::ng-deep .mat-calendar-body-selected {
	background-color: rgba(223,219,241,255);
	color: #231c31 !important;
  border-color: rgba(149,129,250,255) !important;
  font-weight: 600;
}

::ng-deep .mat-calendar-body-disabled {
	opacity: .5;
}

::ng-deep .weekend-dates .mat-calendar-body-cell-content {
  color: #ea5750 !important;
}


// ::ng-deep .mat-calendar-next-button::after {
// 	border: 0 solid var(--ev-black) !important;
// }

// ::ng-deep .mat-calendar-previous-button::after {
// 	// border: 0 solid var(--ev-black) !important;
//   border-top-width: 2px !important;
// }

.slide-in-from-left {
    -webkit-transform: translate3d(0%, 0, 0) !important;
    transform: translate3d(0%, 0, 0) !important;

    .text-white {
      color: var(--ev-calendar-black) !important;
    }

    header .close {
      color: var(--ev-calendar-black) !important;
    }

    .content h5 {
      font-size: 1rem !important;
      font-weight: 700 !important;
    }

    p {
      font-size: 15px !important;
      font-weight: 601 !important;
    }

    small {
      font-weight: 600;
    }

    .field input {
      background-color: var(--ev-calendar-content-field) !important;
      color: var(--ev-calendar-black) !important;
      font-weight: 601 !important;
      font-size: .9rem !important;
    }

    .content {
      scrollbar-color: rgba(205,205,205,255) rgba(240,240,240,255) !important;
    }

    .content .field {
      border: 1px solid var(--ev-calendar-content-field) !important;
      background-color: var(--ev-calendar-content-field) !important;
    }

    ::selection {
      color: var(--ev-black) !important;
    }

    .field i {
      color: rgba(171,168,184,255) !important;
    }

    

}

.button-light {
  color: var(--ev-black) !important;
}

.button-light:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .7s;
}

.text-black {
  color: var(--ev-black);
}

.calendar-bg-light {
  background-color: var(--ev-calendar-bg) !important;
}

.time-checkmark {
	position: relative;
	right: -.3rem;
	border-radius: 50%;
	background-color: #02c37e;
	height: 20px;
	width: 20px;
	color: white !important;
	padding: 2px;
  transition: all .4s ease-in;
}

.time-picker {
  border-radius: .4rem;
  transition: all .2s ease-in;
  margin-right: 1rem !important;
}

.time-picker:hover {
  cursor: pointer;
}

.time-picker:hover {
  background-color: rgba(17, 28, 39, .06);
}

.time-picker-container {
	padding-right: 0 !important;
	height: 90%;
	overflow-y: scroll;
	scrollbar-color: rgba(205,205,205,255) rgba(240,240,240,255);
	scrollbar-width: thin;
}

.time-text-white {
  color: var(--ev-calendar-black);
}

.text-muted:hover {
  cursor: default !important;
}

.text-muted span {
  color: #9997a0 !important;
}
