
  main {
    display: flex;
    flex-direction: row;
    }
    .menu {
    flex: 1;
    // background-color: violet;
    max-width: 10vw;
    height: 100vh;
    }
    div.workspace-nav {
    flex: 1;
    background-color: inherit;
    overflow-y: scroll;
    height: inherit;
    scrollbar-color: var(--ev-primary-background);
    scrollbar-width: none;
    // border-right: 1px solid #2d2d2ded;
    // height: 90vh !important;
    }
    div.workspace-nav::-webkit-scrollbar {
      width: .5em;
      display: none;
    }
     
    div.workspace-nav::-webkit-scrollbar-track {
      // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: var(--ev-primary-background);
    }
     
    div.workspace-nav::-webkit-scrollbar-thumb {
      background-color: var(--ev-event-details-scrollbar);
      // outline: 1px solid slategrey;
    }
  
    div.workspace-core {
    flex: 1;
    background-color: inherit;
    height: 84.5vh;
    }
    section.workspace {
      display: flex;
      flex-direction: row;
      background-color: var(--ev-primary-background);
      height: 100%;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        section.workspace {
          height: -webkit-fill-available !important;
    
        }
    }
    
    section.workspace-items {
      background-color: var(--ev-primary-background);
    }
    
    div.workspace-nav {
      flex: 2;
      background-color: inherit;
      // border-right: 1px solid #2d2d2ded;
      // height: 90vh !important;
    }
    
    div.workspace-core {
      flex: 1;
      background-color: inherit;
    }
    
    /* Google Fonts Import Link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    .sidebar{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 260px;
      background: var(--ev-primary-background);
      z-index: 100;
      transition: all 0.5s ease;
    }
    .sidebar.close{
      width: 78px;
      opacity: 1 !important;
      border-right: 1px solid var(--ev-sidebar-border-color) !important;
    }
    
    .sidebar.close  p.list-title {
      display: none;
    } 
    
    .sidebar .logo-details{
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .sidebar .logo-details i{
      font-size: 1.3rem;
      color: var(--ev-white);
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
    }
    .sidebar .logo-details .logo_name{
      font-size: 1.2rem;
      color: var(--ev-white);
      font-weight: 600;
      transition: 0.3s ease;
      transition-delay: 0.1s;
      cursor: pointer;
    }
    .sidebar.close .logo-details .logo_name{
      transition-delay: 0s;
      opacity: 0;
      pointer-events: none;
    }
    .sidebar .nav-links{
      height: 100%;
      padding: 30px 0 150px 0;
      overflow: auto;
      scrollbar-color: rgba(255,255,255,.08) rgba(255, 255, 255, .0);
      scrollbar-width: thin;
      
    }
    .list-title {
      font-size: .8rem;
      opacity: .3 !important;
    }
    
    hr:not([size]) {
        height: 2px;
    }
    
    hr {
      background-color: var(--ev-hr-border-color) !important;
    }
    .sidebar .bx::before {
        background-color: var(--ev-bx-background);
        padding: 8px;
        font-size: .9rem;
        border-radius: 10px;
    }
    .sidebar .nav-links li a.active .bxs-home::before {
        background-color: var(--ev-brandname-orange);
      // css color white recommended
      color: white !important;
    }
  
    // .sidebar .nav-links li a.active .bx-trending-up::before {
    //   background-color: var(--ev-sidebar-menu-active-icon);
    //   // css color white recommended
    //   color: white !important;
    // }
  
    .sidebar .nav-links li a.active {
      opacity: 1;
    }

    .sidebar .nav-links li a.active  .bx::before{
      background-color: var(--ev-sidebar-menu-active-icon);
      // css color white recommended
      color: white !important;
    }

    .sidebar.close .nav-links{
      overflow: visible;
    }
    .sidebar .nav-links::-webkit-scrollbar{
      display: none;
    }
    .sidebar .nav-links li{
      position: relative;
      list-style: none;
      transition: all 0.4s ease;
    }
    .sidebar .nav-links li:hover{
      background: var(--ev-secondary-background);
    }
    .sidebar .nav-links li .iocn-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar.close .nav-links li .iocn-link{
      display: block
    }
    .sidebar .nav-links li i{
      height: 50px;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
      color: var(--ev-white);
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .sidebar .nav-links li.showMenu i.arrow{
      transform: rotate(-180deg);
    }
    .sidebar.close .nav-links i.arrow{
      display: none;
    }
    .sidebar .nav-links li a{
      display: flex;
      align-items: center;
      text-decoration: none;
      opacity: var(--ev-bx-opacity);
    }
    .sidebar .nav-links li a:hover{
      display: flex;
      align-items: center;
      text-decoration: none;
      opacity: 1;
    }
    .sidebar .nav-links li a .link_name{
      font-size: 1rem;
      font-weight: 273;
      color: var(--ev-white);
      transition: all 0.4s ease;
      opacity: .7;
    }
    .sidebar .nav-links li a.active .link_name {
      opacity: 1;
    }
    .sidebar .nav-links li a .link_name:hover{
      opacity: 1;
      cursor: pointer;
    }
    .sidebar.close .nav-links li a .link_name{
      opacity: 0;
      pointer-events: none;
    }
    .sidebar .nav-links li .sub-menu{
      padding: 6px 6px 14px 80px;
      margin-top: -10px;
      background: var(--ev-secondary-background);
      display: none;
    }
    .sidebar .nav-links li.showMenu .sub-menu{
      display: block;
    }
    .sidebar .nav-links li .sub-menu a{
      color: var(--ev-white);
      font-size: 15px;
      padding: 5px 0;
      white-space: nowrap;
      opacity: 0.6;
      transition: all 0.3s ease;
    }
    .sidebar .nav-links li .sub-menu a:hover{
      opacity: 1;
    }
    .sidebar.close .nav-links li .sub-menu{
      position: absolute;
      left: 100%;
      top: -10px;
      margin-top: 0;
      padding: 10px 20px;
      border-radius: 0 6px 6px 0;
      opacity: 0;
      display: block;
      pointer-events: none;
      transition: 0s;
    }
    .sidebar.close .nav-links li:hover .sub-menu{
      top: 0;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease;
    }
    .sidebar .nav-links li .sub-menu .link_name{
      display: none;
    }
    .sidebar.close .nav-links li .sub-menu .link_name{
      font-size: 18px;
      opacity: 1;
      display: block;
    }
    .sidebar .nav-links li .sub-menu.blank{
      opacity: 1;
      pointer-events: auto;
      padding: 3px 20px 6px 16px;
      opacity: 0;
      pointer-events: none;
    }
    .sidebar .nav-links li:hover .sub-menu.blank{
      top: 50%;
      transform: translateY(-50%);
    }
    .sidebar .profile-details{
      position: fixed;
      bottom: 0;
      width: 260px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--ev-dark-mode-button-background);
      padding: 12px 0;
      transition: all 0.5s ease;
    }
    .sidebar.close .profile-details{
      background: none;
    }
    .sidebar.close .profile-details{
      width: 78px;
    }
    .sidebar .profile-details .profile-content{
      display: flex;
      align-items: center;
    }
    .sidebar .profile-details img{
      height: 52px;
      width: 52px;
      object-fit: cover;
      border-radius: 16px;
      margin: 0 14px 0 12px;
      background: var(--ev-secondary-background);
      transition: all 0.5s ease;
    }
    .sidebar.close .profile-details img{
      padding: 10px;
    }
    .sidebar .profile-details .profile_name,
    .sidebar .profile-details .job{
      color: var(--ev-white);
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
    }
    .sidebar.close .profile-details i,
    .sidebar.close .profile-details .profile_name,
    .sidebar.close .profile-details .job{
      display: none;
    }
    .sidebar .profile-details .job{
      font-size: 12px;
    }
    
    // toggle button styles 
    /* The switch - the box around the slider */
    
    .switch {
      position: relative;
      display: inline-block;
      width: 49px;
      height: 28px;
      margin-left:1.5em;
    }
    
    /* Hide default HTML checkbox */
    
    .switch input {
      display: none;
    }
    
    /* The slider */
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--ev-tertiary-background);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 1px;
      bottom: 1px;
      background-color: white; // css white color recommended
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked+.slider {
      background-color: var(--ev-tertiary-background);
    }
    
    input:focus+.slider {
      box-shadow: 0 0 1px #29b6f6;
    }
    
    input:checked+.slider:before {
      -webkit-transform: translateX(2px);
      -ms-transform: translateX(21px);
      transform: translateX(21px);
    }
    
    /* Rounded sliders */
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    
    .switch h5 {
      position: relative;
      left: -200px;
      top: -50%;
      width: 175px;
    }
    
    .profile-details .form-group span.link_name {
      flex: 1;font-size: 1rem;color: var(--ev-white);font-weight: 273;transition: all .4s ease;
      opacity: .3;
    }
    .profile-details .form-group span.link_name:hover, .profile-details:hover > .form-group span.link_name {
      opacity: 1;
    }
    
    .sidebar.close .profile-details {
      display: none;
    }
    
    .home-section{
      position: relative;
      background: #E4E9F7;
      height: 100vh;
      left: 260px;
      width: calc(100% - 260px);
      transition: all 0.5s ease;
      overflow-y: scroll;
      scrollbar-color: var(--ev-event-details-scrollbar) var(--ev-primary-background);
      scrollbar-width: thin;
      overflow-x: hidden;
    }
    .home-section::-webkit-scrollbar {
      width: .5em;
    }
     
    .home-section::-webkit-scrollbar-track {
      // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: var(--ev-primary-background);
    }
     
    .home-section::-webkit-scrollbar-thumb {
      background-color: var(--ev-event-details-scrollbar);
      // outline: 1px solid slategrey;
    }
    .sidebar.close ~ .home-section{
      left: 78px;
      width: calc(100% - 78px);
    }
    .home-section .home-content{
      height: 60px;
      display: flex;
      align-items: center;
    }
    .home-section .home-content .bx-menu,
    .home-section .home-content .text{
      color: var(--ev-primary-background);
      font-size: 35px;
    }
    .home-section .home-content .bx-menu{
      margin: 0 15px;
      cursor: pointer;
    }
    .home-section .home-content .text{
      font-size: 26px;
      font-weight: 600;
    }
    @media (max-width: 420px) {
      .sidebar.close .nav-links li .sub-menu{
        display: none;
      }
    }
    
    // nav styles
    
    .navbar {
      background-color: var(--ev-primary-background) !important;
      // border-bottom: 1px solid #2d2d2ded;
      box-shadow: none !important;
      padding: 1.1rem !important;
    
      .navbar-brand {
        color: var(--ev-white);
    
      }
    }
    
    // user logged in dropdown css 
    .dropdown_user {
      position: relative;
      display: inline-block;
      
    }
    
    .dropdown-content_user {
      display: none;
      margin-left: 0%;
      position: absolute;
      background-color: var(--ev-dark-mode-button-background);
      min-width: 250px;
      border-radius: 15px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: 0vh;
      transition: 0.5s;
    }
    
    @media(min-width: 1500px) {
      .dropdown-content_user {
        margin-left: -220% !important;
        margin-top: 0.9vh !important;
    
      }
    }
    
    .dropdown-content_user a {
      color: var(--ev-white);
      padding: 14px 16px;
      font-size: 14px;
      font-weight: 400 !important;
      text-decoration: none;
      display: block;
      opacity: .5;
    }
    
    .dropdown-content_user a:hover {
      background-color: var(--ev-dropdown-content-background);
      opacity: 1;
    }
    
    .dropdown-content_user #logout_link:hover {
      // background-color: #f4f4f4;
      border-end-start-radius: 15px;
      border-end-end-radius: 15px;
      cursor: pointer;
    }
    
    .dropdown-content_user #browse_events_link:hover {
      // background-color: #f4f4f4;
      border-start-start-radius: 15px;
      border-start-end-radius: 15px;
    }
    
    ev-avatar img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
    
    .dropdown_user:hover .dropdown-content_user {
      display: block;
      transition: 0.5s;
    }
    
    .dropdown_user:hover .dropbtn_user {
      background-color: inherit;
      transition: 0.5s;
    }
    
    .avatar-container {
      margin-top: 0vh;margin-bottom: 0;height: 4vh;width: 4vh;
      display: block ruby;
    
      img {
        border: 2px solid var(--ion-color-step-100);border-radius: 50%;height: inherit;
        max-width: inherit !important;
        margin-top: .5vh !important;
      }
    }
    
    @media (height: 1024px) and (width: 1366px) {
      .avatar-container {
    
        img {
          margin-top: 0vh !important;
    
        }
      }
    }
    
    @media (min-width: 1500px) {
      .avatar-container {
      
        img {
          margin-top: 0vh !important;
        }
      }
    }
    
    
    
    // search styles
    .has-search .form-control {
      padding-left: 2.375rem;
    }
    
    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaaaaa82;
    }
    
    input.form-control {
    background-color: var(--ev-input-form-control-background) !important;
    }
    
    .form-control {
    border: none !important;
    border-radius: .55rem !important;
    font-weight: 497 !important;
    color: var(--ev-white) !important;
    font-size: .9rem !important;
    height: calc(2em + 0.75rem + 2px) !important;
    }
    
    @media (min-width: 576px) {
      .form-inline .form-control {
        max-width: 40vw !important;
        width: 40vw !important;
      }
    }
    
    .img.square {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: auto; 
    }	
    
    .img.square img {
    visibility: hidden; }
    .dropbtn_user:hover  i.bi-chevron-down {
      opacity: 1 !important;
    }
    
    .dropbtn_user:hover  b.navbar-username {
      opacity: 1 !important;
    }
    
    .dropbtn_user:hover  span.dot {
      opacity: 1 !important;
    }
    
    .dot {
        background-color: red;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        position: relative;
        top: .6rem;
        right: 1.7rem;
        opacity: .8;
    }
    
    // discover styles 
    .discover-user-checkmark {
        position: absolute;
        border-radius: 50%;
        background-color: var(--ev-card-ticket-checkmark-bg); // css bg color specific to this page
        height: 15px;
        width: 15px;
        border: 2px solid var(--ev-card-ticket-checkmark-bg) !important;
        text-align: center;
        padding-bottom: 9px;
        color: var(--ev-black);
        transform: translate(45px, -19px);
        font-size: 0.6rem;
    }
    
    .event-speakers-info {
    display: flex;
    flex-direction: row;
    }
    
    .event-speakers-avatars {
    flex: 1;
    }
    
    .event-speakers-buttons {
    flex: 1;
    text-align: right;
    }
    
    .speakers-more {
    background-color: var(--ev-tertiary-background);
    text-align: center;
    color: var(--ev-white);
    font-size: .8rem;
    font-weight: bold;
    padding: .7rem;
    }
    
    .bi-three-dots {
    font-size: 1rem;
    opacity: .6;
    }
    
    
    .card-button {
    font-family: 'Roboto', sans-serif;
    // font-size: 11px;
    text-transform: capitalize;
    // letter-spacing: 2.5px;
    // font-weight: 500;
    // color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 0rem;
    border-radius: 10px;
    font-size: .8rem;
    padding: .7rem 1.8rem !important;
    }
    
    .ticket-button {
    // width: 140px;
    // height: 45px;
    font-family: 'Roboto', sans-serif;
    // font-size: 11px;
    text-transform: capitalize;
    // letter-spacing: 2.5px;
    // font-weight: 500;
    // color: #000;
    background-color: var(--ev-tertiary-background);
    border: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 0rem;
    }
    
    .ticket-button {
    border-radius: 10px;
    font-size: 1rem;
    padding: .7rem 1.8rem !important;
    }

    .ticket-button:hover {
      background-color: blueviolet;
    }

    
    .calendar-button {
      // width: 140px;
      // height: 45px;
      font-family: 'Roboto', sans-serif;
      // font-size: 11px;
      text-transform: capitalize;
      // letter-spacing: 2.5px;
      // font-weight: 500;
      // color: #000;
      background-color: var(--secondary);
      border: none;
      font-weight: bold;
      border-radius: 8px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      margin-bottom: 0rem;
      }
      
      .calendar-button {
      border-radius: 10px;
      font-size: 1rem;
      padding: .7rem 1.8rem !important;
      }
    
    .speakers-link {
    text-align: center;
    color: var(--ev-white);
    font-size: .8rem;
    font-weight: bold;
    padding: .7rem;
    }
    
    // manage events section styles
    // @media (min-width: 967px) and (orientation: landscape) {
    //   .event_social_share {
    //     visibility: visible !important;
    //   }
    
    // }
    // new styles
    .nav-pills .nav-link {
    margin-bottom: 0rem !important;
    padding-bottom: 1rem !important;
    transition: border-color .4s linear !important;
    border-bottom: 0px solid var(--ev-sidebar-border-color) !important;
    cursor: pointer;
    }
    
    ul.nav {
    border-bottom: none !important;
    padding-bottom: 0px;
    width: -moz-available !important;
    overflow-x: hidden;
    margin-left: 0vh;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
      .ul.nav {
        width: -webkit-fill-available;
      }
    }
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 7px !important;
    border: 1px solid rgba(255,255,255, .05) !important;
    background-color: var(--ev-video-conference-nav-bg) !important;
    color: var(--ev-white) !important;
    box-shadow: none;
    border-bottom: none !important;
    }
    
    
    .nav-pills .nav-link {
    border-radius: 0px !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    margin-top: 0rem !important;
    background-color: inherit;
    color: var(--ev-header-text-color) !important;
    font-weight: 400;
    text-transform: capitalize;
    font-size: .9rem;
    padding: 0.6rem .97rem !important;
    /* padding-bottom: .5rem !important; */
    transition: color 0.3s ease 0s !important;
    text-align: center;
    }
    
    .swipeable-x {
    overflow-x: scroll !important;
    }
    
    .container-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    height: max-content;
    width: calc(100% - 3rem);
    }
    
    .horizontal-scroll {
    width: 100vw;
    height: max-content;
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    }
    
    .horizontal-scroll .btn-scroll {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--ev-white);
    font-weight: bolder;
    padding: 4px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 1;
    cursor: pointer;
    // box-shadow: 0 0 10px #9999;
    transition: 1s;
    }
    
    .storys-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: .5s all ease-out;
    }
    
    .story-circle {
    width: 132px;
    height: max-content;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotateZ(45deg);
    }
    
    .story-circle a {
    width: 102px;
    height: min-content;
    transform: rotateZ(-45deg);
    }
    
    .nav {
    display: inherit !important;
    flex-wrap: inherit !important; 
    padding-left: 0;
    margin-bottom: 0;
    /* list-style: none; */
    }
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link  {
    span {
     background-color: var(--ev-tertiary-background) !important;
     color: var(--ev-white) !important;
    }
    }
    
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
    }

    .card-footer {
      // background-color: inherit;
    }
    
    
    .img-fit-img-fix-background-cover {
    // border-radius: 0px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
    
    @media (max-height: 500px) and (orientation : landscape) {
    .img-fit-img-fix-background-cover {
      height: 50vh !important;
    }
    }
    
    @media (max-width: 1400px) and (min-height: 900px) {
    .img-fit-img-fix-background-cover {
    height: 185px !important;
    }
    }
    
    @media (max-width: 1400px) and (max-height: 900px) {
    .img-fit-img-fix-background-cover {
    height: 185px !important;
    }
    }
    
    // card styles
    
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      // border: 1px solid rgba(0, 0, 0, .05);
      border-radius: 1.275rem;
      background-color: var(--ev-white);
      background-clip: border-box;
      cursor: default;
      transition: all 3s ease-in;
    }
    
    .card-body {
      padding: 1.5rem;
      flex: 1 1 auto;
    }
    
    .card-title {
      margin-bottom: 1.25rem;
    }
    
    @keyframes progress-bar-stripes {
      from {
        background-position: 1rem 0;
      }
      to {
        background-position: 0 0;
      }
    }
    
    .bg-info {
      background-color: #11cdef !important;
    }
    
    a.bg-info:hover,
    a.bg-info:focus,
    button.bg-info:hover,
    button.bg-info:focus {
      background-color: #0da5c0 !important;
    }
    
    .bg-warning {
      background-color: #fb6340 !important;
    }
    
    a.bg-warning:hover,
    a.bg-warning:focus,
    button.bg-warning:hover,
    button.bg-warning:focus {
      background-color: #fa3a0e !important;
    }
    
    .bg-danger {
      background-color: #f5365c !important;
    }
    
    a.bg-danger:hover,
    a.bg-danger:focus,
    button.bg-danger:hover,
    button.bg-danger:focus {
      background-color: #ec0c38 !important;
    }
    
    .bg-default {
      background-color: #172b4d !important;
    }
    
    a.bg-default:hover,
    a.bg-default:focus,
    button.bg-default:hover,
    button.bg-default:focus {
      background-color: #0b1526 !important;
    }
    
    .rounded-circle {
      border-radius: 50% !important;
    }
    
    .align-items-center {
      align-items: center !important;
    }
    
    @media (min-width: 1200px) {
      .justify-content-xl-between {
        justify-content: space-between !important;
      }
    }
    
    .shadow {
      box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
    }
    
    .mb-0 {
      margin-bottom: 0 !important;
    }
    
    .mr-2 {
      margin-right: .5rem !important;
    }
    
    .mt-3 {
      margin-top: 1rem !important;
    }
    
    .mb-4 {
      margin-bottom: 1.5rem !important;
    }
    
    .mb-5 {
      margin-bottom: 3rem !important;
    }
    
    .pt-5 {
      padding-top: 3rem !important;
    }
    
    .pb-8 {
      padding-bottom: 8rem !important;
    }
    
    .m-auto {
      margin: auto !important;
    }
    
    @media (min-width: 768px) {
      .pt-md-8 {
        padding-top: 8rem !important;
      }
    }
    
    @media (min-width: 1200px) {
      .mb-xl-0 {
        margin-bottom: 0 !important;
      }
    }
    
    .text-nowrap {
      white-space: nowrap !important;
    }
    
    .text-center {
      text-align: center !important;
    }
    
    .text-uppercase {
      text-transform: uppercase !important;
    }
    
    .font-weight-bold {
      font-weight: 600 !important;
    }
    
    .text-white {
      color: var(--ev-text-color) !important;
    }
    
    .text-success {
      color: #2dce89 !important;
    }
    
    a.text-success:hover,
    a.text-success:focus {
      color: #24a46d !important;
    }
    
    .text-warning {
      color: #fb6340 !important;
    }
    
    a.text-warning:hover,
    a.text-warning:focus {
      color: #fa3a0e !important;
    }
    
    .text-danger {
      color: #f5365c !important;
    }
    
    a.text-danger:hover,
    a.text-danger:focus {
      color: #ec0c38 !important;
    }
    
    .text-white {
      color: var(--ev-text-color) !important;
    }
    
    a.text-white:hover,
    a.text-white:focus {
      color: #e6e6e6 !important;
    }
    
    .text-muted {
      color: #8898aa !important;
    }
    
    @media print {
      *,
      *::before,
      *::after {
        box-shadow: none !important;
        text-shadow: none !important;
      }
      a:not(.btn) {
        text-decoration: underline;
      }
      p,
      h2 {
        orphans: 3;
        widows: 3;
      }
      h2 {
        page-break-after: avoid;
      }
      @page {
        size: a3;
      }
      body {
        min-width: 992px !important;
      }
    }
    
    figcaption,
    main {
      display: block;
    }
    
    main {
      overflow: hidden;
    }
    
    .bg-yellow {
      background-color: #ffd600 !important;
    }
    
    a.bg-yellow:hover,
    a.bg-yellow:focus,
    button.bg-yellow:hover,
    button.bg-yellow:focus {
      background-color: #ccab00 !important;
    }
    
    .bg-gradient-primary {
      background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    }
    
    .bg-gradient-primary {
      background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    }
    
    @keyframes floating-lg {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(15px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    
    @keyframes floating {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    
    @keyframes floating-sm {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    
    [class*='shadow'] {
      transition: all .15s ease;
    }
    
    .text-sm {
      font-size: .875rem !important;
    }
    
    .text-white {
      color: var(--ev-text-color) !important;
    }
    
    a.text-white:hover,
    a.text-white:focus {
      color: #e6e6e6 !important;
    }
    
    [class*='btn-outline-'] {
      border-width: 1px;
    }
    
    .card-stats .card-body {
      padding: 1rem 1.5rem;
    }
    
    .main-content {
      position: relative;
    }
    
    @media (min-width: 768px) {
      .main-content .container-fluid {
        padding-right: 39px !important;
        padding-left: 39px !important;
      }
    }
    
    .footer {
      padding: 2.5rem 0;
      background: #f7fafc;
    }
    
    .footer .copyright {
      font-size: .875rem;
    }
    
    .header {
      position: relative;
    }
    
    .icon {
      width: 3rem;
      height: 3rem;
    }
    
    .icon i {
      font-size: 2.25rem;
    }
    
    .icon-shape {
      display: inline-flex;
      padding: 12px;
      text-align: center;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
    }
    
    .icon-shape i {
      font-size: 1.25rem;
    }
    
    @media (min-width: 768px) {
      @keyframes show-navbar-dropdown {
        0% {
          transition: visibility .25s, opacity .25s, transform .25s;
          transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
          opacity: 0;
        }
        100% {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
      @keyframes hide-navbar-dropdown {
        from {
          opacity: 1;
        }
        to {
          transform: translate(0, 10px);
          opacity: 0;
        }
      }
    }
    
    @keyframes show-navbar-collapse {
      0% {
        transform: scale(.95);
        transform-origin: 100% 0;
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    @keyframes hide-navbar-collapse {
      from {
        transform: scale(1);
        transform-origin: 100% 0;
        opacity: 1;
      }
      to {
        transform: scale(.95);
        opacity: 0;
      }
    }
    
    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.7;
    }
    
    .card-icon {
      width: min-content;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: .5rem;
      font-size: 1.5rem;
      padding: .8rem !important;
      border: 1px solid #fbfbfb1c;
    }
    
    .card-icon .bi {
      color: var(--ev-white);
    }
    
    .card {
      // background-color: #107bf7;
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .card-text {
      color: var(--ev-white);
    }
    
    .text-muted {
      color: var(--ev-white) !important;
      opacity: .5;
    }
    
    // home section workspace-items 
    .card-img, .card-img-top {
        border-top-left-radius: calc(1.275rem - 1px) !important;
        border-top-right-radius: calc(1.275rem - 1px) !important;
    }
    
    .item-event-duration {
        text-align: right !important;
        position: absolute;
        right: .1rem;
        margin-right: .6rem !important;
        margin-top: .6rem !important;
    }
    
    .event-host {
      display: flex !important;
      position: absolute !important;
      /* transform: translate(10rem); */
      right: 1.5rem !important;
      top: 8.4rem !important;
      margin-right: 0 !important;
    }
    
    .event-host-checkmark {
      background-color: var(--blue) !important;
      color: var(--white) !important;
      height: 17px !important;
        width: 17px !important;
        border: 2px solid var(--ev-checkmark-background) !important;
        transform: translate(-11px, 35px) !important;
        font-size: 0.6rem !important;
    }
    
    .event-host-dot {
        background-color: green;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      display: inline-block;
      margin-bottom: 0.074rem;
    }
    
    .pure-g {
      display: flex;
    }
    
    .pure-g > div
    {
        box-sizing: border-box;
    }
    .pure-g > div:first-child
    {
        margin-right: 12pt;
    }
    .pure-g > div:last-child
    {
        margin-left: 12pt;
    }
    .pure-g > div:nth-child(2)
    {
        margin-right: 12pt;
    }
    
    .pure-u-1-2 {
      width: calc(100% / 4);
    }
    .pure-g > div :not(:first-child):not(:last-child)
    {
        // margin: 0 5pt;
        // mar
    }
    
    .card-title{
      text-overflow: ellipsis; 
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    
    // slider 
    .home-slider {
      height: 400px;
      margin: auto;
      position: relative;
      width: 90%;
      display: grid;
      place-items: center;
      overflow: hidden;
    }
    
    .home-slider-track {
      display: flex;
      width: calc(500px * 10);
      animation: scroll 40s linear infinite;
    }
    .home-slider-track:hover {
      animation-play-state: paused;
    }
    
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-500px * 5));
      }
    }
    
    .home-slide {
      height: 350px;
      width: 500px;
      display: flex;
      align-items: center;
      padding: 30px;
      perspective: 100px;
    }
    
    .home-slide img {
      width: 100%;
      transition: transform 1s;
    }
    
    .home-slide img:hover {
      transform: translateZ(20px);
    }
    
    // GRADIENT SHADOWS 
    // .home-slider::before,
    // .home-slider::after {
    //   background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    //   content: '';
    //   height: 100%;
    //   position: absolute;
    //   width: 15%;
    //   z-index: 2;
    // }
    
    .home-slider::before {
      left: 0;
      top: 0;
    }
    .home-slider::after {
      right: 0;
      top: 0;
      transform: rotateZ(100deg);
    }
    
    
    .autoplay {
      // transition: transform 1s ease-in;
      
      // animation: scroll 40s linear infinite;
    }
    
    .autoplay:hover {
      // animation-play-state: paused;
      
    }
    
    @keyframes right-to-left {
      100% {
        transform: translateX(-45vw);
      }
    }
    
    .banner-card-active {
      width: -moz-available;
      transition: all .4 ease-in;
      margin-left: 1.5rem !important;
      height: 50vh !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
      .banner-card-active {
        width: -webkit-fill-available;
      }
    }
    
    .card-next {
      width: -moz-available;
      transition: all .4 ease-in;
      margin-left: 0.25rem !important;
      height: 50vh !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
      .card-next {
        width: -webkit-fill-available;
      }
    }
    
    .card-slided-left {
      margin-left: -45vw !important;
      visibility: hidden;
      width: 45vw;
    }
  
    .login-button {
      // width: 140px;
      // height: 45px;
      font-family: 'Roboto', sans-serif;
      // font-size: 11px;
      // text-transform: uppercase;
      // letter-spacing: 2.5px;
      // font-weight: 500;
      // color: #000;
      background-color: #f05537;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    }
    
    .login-button {
      background-color: #f05537 !important;
    }
    
    
    .card-date {
      border-radius: 8px;
      /* padding: 0.4rem 1.4rem; */
      color: var(--ev-brandname-orange);
      font-weight: bold;
      word-wrap: break-word;
      text-align: center;
      /* padding-left: 0; */
      position: absolute;
      background-color: var(--ev-card-date);
      top: -37px;
      width: max-content;
      padding: 10px 20px;
      right: 0.8rem;
    }
    
    .card-schedule-active {
      border-radius: 8px;
      /* padding: 0.4rem 1.4rem; */
      color: rgba(255, 255, 255, 1); // css white recommended
      font-weight: bold;
      text-align: left;
      /* padding-left: 0; */
      // position: relative;
      background-color: var(--ev-tertiary-background);
      margin-right: 1.2rem;
      width: max-content;
      padding: 15px 20px;
      cursor: pointer;
    }

    .card-schedule {
      border-radius: 8px;
      /* padding: 0.4rem 1.4rem; */
      color: var(--ev-text-color); // css white recommended
      font-weight: bold;
      text-align: left;
      /* padding-left: 0; */
      // position: relative;
      background-color: rgba(255, 255, 255, 0.5);
      margin-right: 1.2rem;
      width: max-content;
      padding: 15px 20px;
      cursor: pointer;
    }
    
    .ticket:before,
    .ticket:after {
      content: '';
      display: block;
      position: absolute;
      top: 100px;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      z-index: 2;
      background-color: var(--ev-primary-background);
    }

    .ticket:before {
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(-45deg);
      left: -12px;
      top: -.7rem;
    }
    
    .ticket:after {
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(135deg);
      right: -12px;
      top: -.7rem;
    }

//     .card-ticket:after {
//       background-color: var(--ev-card-ticket-pseudo-bottom-bg);
//       height: 25px;
//       content: "";
//       position: absolute;
//       bottom: -25px;
//       left: -11px;
//       right: -11px;
//       border-top: 1px dashed var(--ev-hr-border-color);
//   }

  span.color-circle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.9rem;
    text-align: center;
    color: var(--ev-black);
    padding: 4px;
  }
  
  .results {
    position: relative;
    margin-bottom: 0rem;
    padding-top: 2rem;
  }
  
  .results .box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    min-width: 10rem;
    background: var(--ev-primary-background);
    padding: .4rem .8rem;
    border-radius: 10px;
    transition: all .4s ease-in;
  }

  .box:hover {
    background: var(--ev-schedule-user-profile-bg-hover) !important;
    cursor: pointer;
  }
  
  .color-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: antiquewhite;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }

  .string {
    font-size: .9rem;
  }
    
  .card-deck .card {
    margin-left: 0px !important;
  }

  .autosearch-results {
    position: absolute;
    background-color: var(--ev-input-form-control-background) !important;
    top: 83%;
    // border: 1px solid var(--ev-hp_sidebar-border-color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.55rem;
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    max-width: 40vw !important;
    width: 40vw !important;
    z-index: 999;
  }
  
  .w3-large {
    display: ruby;
    height: 30px;
    // margin-bottom: -3.5vh;
    font-size: 14px;
  }
  
  .present_date {
    font-size: 14px;
    display: flex;
    width: max-content;
    height: 20px;
    margin-top: 0vh;
  }
  
  .search_price{
   font-size: 14px;
   color: #fe5104 !important;
  }

  .speaker-host-title {
    color: rgb(117, 112, 137);
    overflow-wrap: break-word;
  }
  
  .host-badge {
    position: absolute;
    // right: -16px;
    transform: translate(-1.5rem, 1.8rem);
    background: var(--ev-tertiary-background) none repeat scroll 0% 0%;
    // color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 10px;
    top: -8px;
    margin-top: 16px;
    line-height: 16px;
    font-size: 13px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.9);
  
  }

  .fixed{
    position: sticky;
    top:0;
    z-index: 999;
  }

  .fixme {
    background: var(--ev-primary-background);
    z-index: 99;
  }

  .nav-text-color {
    color: var(--ev-nav-text-color) !important;
  }

  .nav-header-color {
    color: var(--ev-header-text-color) !important;
  }
    
  .event-title {
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

  }

  .live-text {
    color: var(--ev-white);
    animation: blink 4s infinite;
  }



@keyframes blink {
  0% {
    color: red;
  }
  20% {
    color: var(--ev-white);
  }
  40% {
    color: red;
  }
  60% {
    color: var(--ev-white);
  }
  80% {
    color: red;
  }
  100% {
    color: var(--ev-white);
  }
}

@-webkit-keyframes blink{
  0% {
    color: red;
  }
  20% {
    color: var(--ev-white);
  }
  40% {
    color: red;
  }
  60% {
    color: var(--ev-white);
  }
  80% {
    color: red;
  }
  100% {
    color: var(--ev-white);
  }

}


.img.squared {
	width: 38px;
	height: 38px;
	overflow: hidden;
	display: inline-block;
	background-size: cover;
	background-position: center;
	border-radius: 7px; 
    border: 2px solid var(--ev-event-banner-bg);
}	
	
.img.squared img {
	visibility: hidden; }

.chat-content {
	background-color: var(--ev-chat-bg);
	padding: .3rem .8rem;
	border-radius: .75rem;
	font-size: .9rem;
    border: 1px solid rgba(255,255, 255, .04);
}

.chat-person-font {
    font-size: .8rem;
}

.chat-name {
	font-size: .8rem;
	margin-bottom: -.4rem;
	margin-top: -.2rem;
}

 .mic-button {
    // width: 140px;
    // height: 45px;
    // font-family: 'Roboto', sans-serif;
    // font-size: 11px;
    // text-transform: uppercase;
    // letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--ev-white);
    background-color: #f05537;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: inherit;
    text-transform: capitalize;
  }
  
  .login-button {
    background-color: #f05537 !important;
  }
  
  .btn-primary:hover {
    background-color: #f42f0c;
    box-shadow: 0px 15px 20px rgba(255, 101, 80, 0.4);
  }
  
  .btn-primary, .btn-danger, .mic-button {
    border-radius: 4px;
    font-size: .8rem;
    padding: .7rem 2.8rem !important;
  }
  
  .btn-check:focus + .btn-primary, .btn-primary:focus {
      color: #fff;
      background-color: #f05537;
      border-color: #f42f0c;
      box-shadow: 0 0 0 .25rem rgba(244,47,12,.5);
  }
  
  .fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
    background: #42a5f5;    
  }
  
//   .fab > i {
//     font-size: 2em;
//     line-height: 55px;
//     -webkit-transition: all .2s ease-out;
//     -webkit-transition: all .2s ease-in-out;
//     transition: all .2s ease-in-out;
//   }
  
//   .fab:not(:last-child) {
//     width: 0;
//     height: 0;
//     margin: 20px auto 0;
//     opacity: 0;
//     visibility: visible;
//     line-height: 40px;
//   }
  
//   .fab:not(:last-child) > i {
//     font-size: 1.4em;
//     line-height: 40px;
//   }
  
//   .fab:not(:last-child).is-visible {
//     width: 40px;
//     height: 40px;
//     margin: 15px auto 10;
//     opacity: 1;
//     visibility: visible;
//   }
  
//   .fab:nth-last-child(1) {
//     -webkit-transition-delay: 25ms;
//     transition-delay: 25ms;
//   }
  
//   .fab:not(:last-child):nth-last-child(2) {
//     -webkit-transition-delay: 20ms;
//     transition-delay: 20ms;
//   }
  
//   .fab:not(:last-child):nth-last-child(3) {
//     -webkit-transition-delay: 40ms;
//     transition-delay: 40ms;
//   }
  
//   .fab:not(:last-child):nth-last-child(4) {
//     -webkit-transition-delay: 60ms;
//     transition-delay: 60ms;
//   }
  
//   .fab:not(:last-child):nth-last-child(5) {
//     -webkit-transition-delay: 80ms;
//     transition-delay: 80ms;
//   }
  
//   .fab:last-child:active,
//   .fab:last-child:focus,
//   .fab:last-child:hover {
//     box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
//   }
//   /*Chatbox*/
  
  .chat {
    position: fixed;
    right: 85px;
    bottom: 20px;
    width: 400px;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    opacity: 0;
    box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .chat_fullscreen {
      position: fixed;
      right: 0px;
      bottom: 0px;
      top: 0px;
    }
  .chat_header {
        /* margin: 10px; */
      font-size: 13px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #f3f3f3;
      height: 55px;
      background: #42a5f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-top: 8px;
  }
  .chat_header2 {
        /* margin: 10px; */
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }
  .chat_header .span {
    float:right;
  }
  
  .chat_fullscreen_loader {
    display: none;
      float: right;
      cursor: pointer;
      /* margin: 10px; */
      font-size: 20px;
      opacity: 0.5;
      /* padding: 20px; */
      margin: -10px 10px;
  }
  
  .chat.is-visible {
    opacity: 1;
    -webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  }
  .is-hide{
    opacity: 0
  }
  
  .chat_option {
    float: left;
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: relative;
    margin-right: 10px;
    letter-spacing: 0.5px;
    font-weight: 400
  }
  
  
  .chat_option img {
      border-radius: 50%;
      width: 55px;
      float: left;
      margin: -30px 20px 10px 20px;
      border: 4px solid rgba(0, 0, 0, 0.21);
  }
  
  .change_img img{
      width: 35px;
      margin: 0px 20px 0px 20px;
  }
  .chat_option .agent {
    font-size: 12px;
      font-weight: 300;
  }
  .chat_option .online{
        opacity: 0.4;
      font-size: 11px;
      font-weight: 300;
  }
  .chat_color {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    float: left;
  }
  
  
  .chat_body {
    background: #fff;
    width: 100%;
  
    display: inline-block;
    text-align: center;
      overflow-y: auto;
  
  }
  #chat_body{
      height: 450px;
  }
  .chat_login p,.chat_body li, p, a{
      -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  }
  .chat_body p {
    padding: 20px;
    color: #888
  }
  .chat_body a {
    width: 10%;
    text-align: center;
    border: none;
    box-shadow: none;
    line-height: 40px;
    font-size: 15px;
  }
  
  
  
  .chat_field {
    position: relative;
    margin: 5px 0 5px 0;
    width: 50%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    color: var(--ev-white);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: none;
    outline: none;
    display: inline-block;
  }
  
  .chat_field.chat_message {
    height: 30px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
    background: var(--ev-input-form-control-background);
    margin-top: .8rem;
  }
  .chat_category{
    text-align: left;
  }
  
  .chat_category{
    margin: 20px;
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
  }
  
  .chat_category ul li{
      width: 80%;
      height: 30px;
      background: #fff;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      font-size: 13px;
      cursor: pointer;
      line-height: 30px;
      color: #888;
      text-align: center;
  }
  
  .chat_category li:hover{
      background: #83c76d;
      color: #fff;
  }
  .chat_category li.active{
      background: #83c76d;
      color: #fff;
  }
  
  .tags{
   margin: 20px;
      bottom: 0px;
      display: block;
      width: 120%
  }
  .tags li{
      padding: 5px 10px;
      border-radius: 40px;
      border: 1px solid rgb(3, 117, 208);
      margin: 5px;
      display: inline-block;
      color: rgb(3, 117, 208);
      cursor: pointer;
  
  }
  .fab_field {
    width: 88%;
    display: inline-block;
    text-align: center;
    background: var(--ev-input-form-control-background);
    // border-top: 1px solid #eee;
    // border-bottom-right-radius: 10px;
    // border-bottom-left-radius: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 1rem;
    height: 4rem;
    
  }
  .fab_field2 {
      bottom: 0px;
      position: absolute;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
          z-index: 999;
    }
  
  .fab_field a {
    display: inline-block;
    text-align: center;
  }
  
  #fab_camera {
    float: left;
    background: rgba(0, 0, 0, 0);
    margin-top: .8rem;
  }
  
  #fab_send {
    float: right;
    background: rgba(0, 0, 0, 0);
    margin-top: .8rem;
  }
  
  .fab_field .fab {
    width: 35px;
    height: 35px;
    box-shadow: none;
    margin: 5px;
  }
  
  .fab_field .fab>i {
    font-size: 1.6em;
    line-height: 35px;
    color: #bbb;
  }
  .fab_field .fab>i:hover {
    color: #42a5f5;
  }
  .chat_conversion {
  
  }
  
  .chat_converse {
    position: relative;
      background: #fff;
      margin: 6px 0 0px 0;
      height: 300px;
      min-height: 0;
      font-size: 12px;
      line-height: 18px;
      overflow-y: auto;
      width: 100%;
      float: right;
      padding-bottom: 100px;
  }
  .chat_converse2{
        height: 100%;
      max-height: 800px
  }
  .chat_list {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  
  .chat_list .chat_list_item {
    opacity: 0;
    visibility: hidden;
  }
  
  .chat .chat_converse .chat_msg_item {
    position: relative;
    margin: 8px 0 15px 0;
    padding: 8px 10px;
    max-width: 60%;
    display: block;
    word-wrap: break-word;
    border-radius: 3px;
    -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
    clear: both;
    z-index: 999;
  }
  .status {
      margin: 45px -50px 0 0;
      float: right;
      font-size: 11px;
      opacity: 0.3;
  }
  .status2 {
      margin: -10px 20px 0 0;
      float: right;
      display: block;
      font-size: 11px;
      opacity: 0.3;
  }
  .chat .chat_converse .chat_msg_item .chat_avatar {
    position: absolute;
    top: 0;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin .chat_avatar {
    left: -52px;
    background: rgba(0, 0, 0, 0.03);
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_user .chat_avatar {
    right: -52px;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .chat .chat_converse .chat_msg_item .chat_avatar, .chat_avatar img{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin {
    margin-left: 60px;
    float: left;
    background: rgba(0, 0, 0, 0.03);
    color: #666;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_user {
    margin-right: 20px;
    float: right;
    background: #42a5f5;
    color: #eceff1;
  }
  
  .chat .chat_converse .chat_msg_item.chat_msg_item_admin:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    z-index: 998;
    border: 6px solid transparent;
    border-right-color: rgba(255, 255, 255, .4);
  }
  
  .chat_form .get-notified label{
      color: #077ad6;
      font-weight: 600;
      font-size: 11px;
  }
  
  input {
    position: relative;
    width: 90%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    outline: none;
    background: #fff;
    display: inline-block;
    resize: none;
    padding: 5px;
    border-radius: 3px;
  }
  .chat_form .get-notified input {
    margin: 2px 0 0 0;
    border: 1px solid #83c76d;
  }
  .chat_form .get-notified i {
      background: #83c76d;
      width: 30px;
      height: 32px;
      font-size: 18px;
      color: #fff;
      line-height: 30px;
      font-weight: 600;
      text-align: center;
      margin: 2px 0 0 -30px;
      position: absolute;
      border-radius: 3px;
  }
  .chat_form .message_form {
    margin: 10px 0 0 0;
  }
  .chat_form .message_form input{
    margin: 5px 0 5px 0;
    border: 1px solid #e0e0e0;
  }
  .chat_form .message_form textarea{
    margin: 5px 0 5px 0;
    border: 1px solid #e0e0e0;
    position: relative;
    width: 90%;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    outline: none;
    background: #fff;
    display: inline-block;
    resize: none;
    padding: 5px;
    border-radius: 3px;
  }
  .chat_form .message_form button{
      margin: 5px 0 5px 0;
      border: 1px solid #e0e0e0;
      position: relative;
      width: 95%;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      outline: none;
      background: #fff;
      display: inline-block;
      resize: none;
      padding: 5px;
      border-radius: 3px;
      background: #83c76d;
      cursor: pointer;
  }
  strong.chat_time {
    padding: 0 1px 1px 0;
    font-weight: 500;
    font-size: 8px;
    display: block;
  }
  
  /*Chatbox scrollbar*/
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  /*Element state*/
  
  .is-active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  
  .is-float {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }
  
  .is-loading {
    display: block;
    -webkit-animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
    animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
  }
  /*Animation*/
  
  @-webkit-keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes load {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    50% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes load {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0.0;
    }
    50% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  /* SMARTPHONES PORTRAIT */
  
  @media only screen and (min-width: 300px) {
    .chat {
      width: 250px;
    }
  }
  /* SMARTPHONES LANDSCAPE */
  
  @media only screen and (min-width: 480px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /* TABLETS PORTRAIT */
  
  @media only screen and (min-width: 768px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /* TABLET LANDSCAPE / DESKTOP */
  
  @media only screen and (min-width: 1024px) {
    .chat {
      width: 300px;
    }
    .chat_field {
      width: 65%;
    }
  }
  /*Color Options*/
  
  
  
  .blue .fab {
    background: #42a5f5;
    color: #fff;
  }
  
  
  
  .blue .chat {
    background: #42a5f5;
    color: #999;
  }
  
  
  /* Ripple */
  
  .ink {
    display: block;
    position: absolute;
    background: rgba(38, 50, 56, 0.4);
    border-radius: 100%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    webkit-transform: scale(0);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  /*animation effect*/
  
  .ink.animate {
    -webkit-animation: ripple 0.5s ease-in-out;
            animation: ripple 0.5s ease-in-out;
  }
  
  @-webkit-keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    
    100% {
      opacity: 0;
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      webkit-transform: scale(5);
      -webkit-transform: scale(5);
              transform: scale(5);
    }
  }
  
  @keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    
    100% {
      opacity: 0;
      -moz-transform: scale(5);
      -ms-transform: scale(5);
      webkit-transform: scale(5);
      -webkit-transform: scale(5);
              transform: scale(5);
    }
  }
  ::-webkit-input-placeholder { /* Chrome */
    color: var(--ev-nav-text-color);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--ev-nav-text-color);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--ev-nav-text-color);
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: var(--ev-nav-text-color);
  }

  .footer-styles {
	display: flex;
	border: none;
	background-color: none;
	background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.6));
	padding: 1rem;
	border-end-start-radius: 1.275rem;
	border-end-end-radius: 1.275rem;
}

.mini-buttons b {
	// background-color: inherit;
	padding: 5px;
    margin-left: .2rem;
    margin-right: .2rem;
	font-size: .8rem;
	border-radius: 10px;
}

.facing-problems {
	background-color: rgba(79,78,84,255);
	border-radius: 10px;
	padding: .4rem .5rem;
	margin-left: 1rem;
	color: #7468b1;
	font-size: .8rem;
}