
    <div class="sidebar open">
        <div class="logo-details">
          <i class='bx bx-menu'></i>
          <span class="logo_name">events369</span>
        </div>
        
        <ul class="nav-links">
            <p class="list-title text-muted px-4 mt-2 mb-2">
                MENU
            </p>
          <li>
            <a href="#" class="active">
              <i class='bx bxs-home' ></i>
              <span class="link_name">Discover</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Discover</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a routerLink="/events/popular">
                <i class='bx bx-trending-up'></i>
                <span class="link_name">Popular</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Popular</a></li>
              <!-- <li><a href="#">HTML & CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">PHP & MySQL</a></li> -->
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxs-video-recording'></i>
                <span class="link_name">Streaming</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Streaming</a></li>
              <!-- <li><a href="#">Web Design</a></li>
              <li><a href="#">Login Form</a></li>
              <li><a href="#">Card Design</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-time-five'></i>
              <span class="link_name">Upcoming</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Upcoming</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-heart'></i>
              <span class="link_name">Favorites</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Favorites</a></li>
            </ul>
          </li>
          <span class="h-rule mx-4 px-4">
             <hr class="mx-4">
          </span>
          <p class="list-title text-muted px-4 mt-2 mb-2">
              CATEGORY
          </p>
          <li>
            <a href="#">
              <i class='bx bxs-briefcase'></i>
              <span class="link_name">Corporate</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Corporate</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-cake'></i>
              <span class="link_name">Social</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Social</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bxs-music'></i>
                <span class="link_name">Festivals</span>
              </a>
              <!-- <i class='bx bxs-chevron-down arrow' ></i> -->
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Festivals</a></li>
              <!-- <li><a href="#">UI Face</a></li>
              <li><a href="#">Pigments</a></li>
              <li><a href="#">Box Icons</a></li> -->
            </ul>
          </li>
          <li>
            <a href="#">
                <i class='bx bxs-star'></i>
              <span class="link_name">New</span>
            </a>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">New</a></li>
            </ul>
          </li>
          <!-- <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">This Weekend</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">This Weekend</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>-->
          
          <span class="h-rule mx-4 px-4">
            <hr class="mx-4">
         </span>
          <li>         
        <div class="profile-details">
            <div class="form-group" style="display: flex;">
                <!-- <label>Test3</label> -->
                <div style="display: flex;flex-direction: row;">
                    <label *ngIf="!darkMode" (click)="toggleDarkMode()" class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <label *ngIf="darkMode" (click)="toggleLightMode()" class="switch">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                  </label>
                 <span class="link_name ml-3">Night mode</span>
                 </div>
            </div>
        </div>
      </li>
    </ul>
      </div>