main {
    display: flex;
    flex-direction: row;
  }
  .menu {
    flex: 1;
    // background-color: violet;
    max-width: 10vw;
    height: 100vh;
  }
  section.workspace {
    display: flex;
    flex-direction: row;
    background-color: var(--ev-primary-background);
  }
  
  section.workspace-items {
    background-color: var(--ev-primary-background);
  }
  
  div.workspace-nav {
    flex: 1;
    background-color: inherit;
    // border-right: 1px solid #2d2d2ded;
    // height: 90vh !important;
  }
  
  div.workspace-core {
    flex: 1;
    background-color: inherit;
  }
  

  /* Google Fonts Import Link */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 .sidebar{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 260px;
   background: var(--ev-primary-background);
   z-index: 100;
   transition: all 0.5s ease;
 }
 .sidebar.close{
   width: 78px;
   opacity: 1 !important;
   border-right: 1px solid var(--ev-sidebar-border-color) !important;
 }
 
 .sidebar.close  p.list-title {
   display: none;
 } 
 
 .sidebar .logo-details{
   height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
 }
 .sidebar .logo-details i{
   font-size: 1.3rem;
   color: var(--ev-white);
   height: 50px;
   min-width: 78px;
   text-align: center;
   line-height: 50px;
 }
 .sidebar .logo-details .logo_name{
   font-size: 1.2rem;
   color: var(--ev-white);
   font-weight: 600;
   transition: 0.3s ease;
   transition-delay: 0.1s;
 }
 .sidebar.close .logo-details .logo_name{
   transition-delay: 0s;
   opacity: 0;
   pointer-events: none;
 }
 .sidebar .nav-links{
   height: 100%;
   padding: 30px 0 150px 0;
   overflow: auto;
   scrollbar-color: rgba(255,255,255,.08) rgba(255, 255, 255, .0);
   scrollbar-width: thin;
   
 }
 .list-title {
   font-size: .8rem;
   opacity: .3 !important;
 }
 
 hr:not([size]) {
     height: 2px;
 }
 
 hr {
   background-color: var(--ev-hr-border-color) !important;
 }
 .bx::before {
     background-color: var(--ev-bx-background);
     padding: 8px;
     font-size: .9rem;
     border-radius: 10px;
 }
 .sidebar .nav-links li a.active .bx::before {
     background-color: var(--ev-brandname-orange);
   // css color white recommended
   color: white !important;
 }
 .sidebar .nav-links li a.active {
   opacity: 1;
 }
 .sidebar.close .nav-links{
   overflow: visible;
 }
 .sidebar .nav-links::-webkit-scrollbar{
   display: none;
 }
 .sidebar .nav-links li{
   position: relative;
   list-style: none;
   transition: all 0.4s ease;
 }
 .sidebar .nav-links li:hover{
   background: var(--ev-secondary-background);
 }
 .sidebar .nav-links li .iocn-link{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .sidebar.close .nav-links li .iocn-link{
   display: block
 }
 .sidebar .nav-links li i{
   height: 50px;
   min-width: 78px;
   text-align: center;
   line-height: 50px;
   color: var(--ev-white);
   font-size: 20px;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .sidebar .nav-links li.showMenu i.arrow{
   transform: rotate(-180deg);
 }
 .sidebar.close .nav-links i.arrow{
   display: none;
 }
 .sidebar .nav-links li a{
   display: flex;
   align-items: center;
   text-decoration: none;
   opacity: var(--ev-bx-opacity);
 }
 .sidebar .nav-links li a:hover{
   display: flex;
   align-items: center;
   text-decoration: none;
   opacity: 1;
 }
 .sidebar .nav-links li a .link_name{
   font-size: 1rem;
   font-weight: 273;
   color: var(--ev-white);
   transition: all 0.4s ease;
   opacity: .7;
 }
 .sidebar .nav-links li a.active .link_name {
   opacity: 1;
 }
 .sidebar .nav-links li a .link_name:hover{
   opacity: 1;
 }
 .sidebar.close .nav-links li a .link_name{
   opacity: 0;
   pointer-events: none;
 }
 .sidebar .nav-links li .sub-menu{
   padding: 6px 6px 14px 80px;
   margin-top: -10px;
   background: var(--ev-secondary-background);
   display: none;
 }
 .sidebar .nav-links li.showMenu .sub-menu{
   display: block;
 }
 .sidebar .nav-links li .sub-menu a{
   color: var(--ev-white);
   font-size: 15px;
   padding: 5px 0;
   white-space: nowrap;
   opacity: 0.6;
   transition: all 0.3s ease;
 }
 .sidebar .nav-links li .sub-menu a:hover{
   opacity: 1;
 }
 .sidebar.close .nav-links li .sub-menu{
   position: absolute;
   left: 100%;
   top: -10px;
   margin-top: 0;
   padding: 10px 20px;
   border-radius: 0 6px 6px 0;
   opacity: 0;
   display: block;
   pointer-events: none;
   transition: 0s;
 }
 .sidebar.close .nav-links li:hover .sub-menu{
   top: 0;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
 }
 .sidebar .nav-links li .sub-menu .link_name{
   display: none;
 }
 .sidebar.close .nav-links li .sub-menu .link_name{
   font-size: 18px;
   opacity: 1;
   display: block;
 }
 .sidebar .nav-links li .sub-menu.blank{
   opacity: 1;
   pointer-events: auto;
   padding: 3px 20px 6px 16px;
   opacity: 0;
   pointer-events: none;
 }
 .sidebar .nav-links li:hover .sub-menu.blank{
   top: 50%;
   transform: translateY(-50%);
 }
 .sidebar .profile-details{
   position: fixed;
   bottom: 0;
   width: 260px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--ev-dark-mode-button-background);
   padding: 12px 0;
   transition: all 0.5s ease;
 }
 .sidebar.close .profile-details{
   background: none;
 }
 .sidebar.close .profile-details{
   width: 78px;
 }
 .sidebar .profile-details .profile-content{
   display: flex;
   align-items: center;
 }
 .sidebar .profile-details img{
   height: 52px;
   width: 52px;
   object-fit: cover;
   border-radius: 16px;
   margin: 0 14px 0 12px;
   background: var(--ev-secondary-background);
   transition: all 0.5s ease;
 }
 .sidebar.close .profile-details img{
   padding: 10px;
 }
 .sidebar .profile-details .profile_name,
 .sidebar .profile-details .job{
   color: var(--ev-white);
   font-size: 18px;
   font-weight: 500;
   white-space: nowrap;
 }
 .sidebar.close .profile-details i,
 .sidebar.close .profile-details .profile_name,
 .sidebar.close .profile-details .job{
   display: none;
 }
 .sidebar .profile-details .job{
   font-size: 12px;
 }
 
 // toggle button styles 
 /* The switch - the box around the slider */
 
 .switch {
   position: relative;
   display: inline-block;
   width: 49px;
   height: 28px;
   margin-left:1.5em;
 }
 
 /* Hide default HTML checkbox */
 
 .switch input {
   display: none;
 }
 
 /* The slider */
 
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--ev-tertiary-background);
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 1px;
   bottom: 1px;
   background-color: white; // css white color recommended
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked+.slider {
   background-color: var(--ev-tertiary-background);
 }
 
 input:focus+.slider {
   box-shadow: 0 0 1px #29b6f6;
 }
 
 input:checked+.slider:before {
   -webkit-transform: translateX(2px);
   -ms-transform: translateX(21px);
   transform: translateX(21px);
 }
 
 /* Rounded sliders */
 
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }
 
 .switch h5 {
   position: relative;
   left: -200px;
   top: -50%;
   width: 175px;
 }
 
 .profile-details .form-group span.link_name {
   flex: 1;font-size: 1rem;color: var(--ev-white);font-weight: 273;transition: all .4s ease;
   opacity: .3;
 }
 .profile-details .form-group span.link_name:hover, .profile-details:hover > .form-group span.link_name {
   opacity: 1;
 }
 
 .sidebar.close .profile-details {
   display: none;
 }
 
 .home-section{
   position: relative;
   background: #E4E9F7;
   height: 100vh;
   left: 260px;
   width: calc(100% - 260px);
   transition: all 0.5s ease;
   overflow-y: scroll;
   scrollbar-color: rgba(255, 255, 255, 0.2) var(--ev-primary-background);
   scrollbar-width: thin;
   overflow-x: hidden;
 }
 .sidebar.close ~ .home-section{
   left: 78px;
   width: calc(100% - 78px);
 }
 .home-section .home-content{
   height: 60px;
   display: flex;
   align-items: center;
 }
 .home-section .home-content .bx-menu,
 .home-section .home-content .text{
   color: var(--ev-primary-background);
   font-size: 35px;
 }
 .home-section .home-content .bx-menu{
   margin: 0 15px;
   cursor: pointer;
 }
 .home-section .home-content .text{
   font-size: 26px;
   font-weight: 600;
 }
 @media (max-width: 420px) {
   .sidebar.close .nav-links li .sub-menu{
     display: none;
   }
 }
